##$Id: optimistic.locking.exception.java.vm,v 1.5 2007/11/12 11:44:29 kameleono Exp $
#parse( "schema.include.vm" )
#parse( "header.include.vm" )
$codewriter.setCurrentJavaFilename("$exceptionPkg", "OptimisticLockingException.java")
package $exceptionPkg;

/**
 * @author sql2java
 */
public class OptimisticLockingException extends DataAccessException
{
    private static final long serialVersionUID = -1348627690415864134L;

	/**
     * contructor
     */
    public OptimisticLockingException()
    {
        super();
    }

    /**
     * contructor
     */
    public OptimisticLockingException(String message)
    {
        super(message);
    }

    /**
     * contructor
     */
    public OptimisticLockingException(Throwable cause)
    {
        super(cause);
    }

    /**
     * contructor
     */
    public OptimisticLockingException(String message, Throwable cause)
    {
        super(message, cause);
    }
}
