#parse( "header.include.vm" )
#parse( "schema.include.vm" )
#if(!$codewriter.existsDependencyPackage() || !$codewriter.existsDependencySrc())
$codewriter.setSaveCurrentFile(false);
#stop
#end
#set ( $thriftSrc = $codewriter.getProperty("dependency.src"))
#set ( $thriftPackage = $codewriter.getProperty("dependency.package"))
#set ( $javaClassName = 'ThriftConverter' )
#set ( $ignorefields= $codewriter.getProperty('general.beanconverter.tonative.ignore') )
$codewriter.setCurrentJavaFilename("${gpkg}", "${javaClassName}.java")
package ${gpkg};

import okio.ByteString;

/**
 * {@link IBeanConverter} implementation classes for thrift class 
 * @author guyadong
 *
 */
public class $javaClassName implements Constant{
    private static class ThriftyBaseHandle <L,R> extends IBeanConverter.AbstractHandle <L,R>{

        @Override
        protected void doFromRight(L left, R right) {
            throw new UnsupportedOperationException();            
        }

        @Override
        protected void doToRight(L left, R right) {
            throw new UnsupportedOperationException();            
        }        
    }
#foreach ( $table in $tables )
#set ( $leftClass  = "${table.asBeanClassNSP()}" )
#if($codewriter.existsInDependencyPackage($leftClass))
#set ( $rightClass = "${codewriter.getDependencyPackage()}.${leftClass}" )
    /** {@link IBeanConverter} implementation for convert between {@link ${leftClass}} and thrift beans {@link ${rightClass}} */
    public static final IBeanConverter<${leftClass},${rightClass}> ${table.asConverterConstVar()}
            = new ThriftyBaseHandle<${leftClass},${rightClass}>(){
        @Override
        public ${leftClass} fromRight(${rightClass} right) {
            ${leftClass} left = newInstanceL();
            $table.stateVarType() initialized = right.initialized;
#foreach ( $column in $table.columns )
            if(0L !=  $column.bitAndExpression("initialized")){
#if($column.isBinary())
                left.$column.getSetMethod()(right.${column.varName}.toByteArray());
#else
                left.$column.getSetMethod()(right.${column.varName});
#end
            }
#end
            left.setNew(right._new);
            left.setModified(right.modified);
            return left;
        }

        @Override
        public ${rightClass} toRight(${leftClass} left) {
           	${rightClass}.Builder builder = new ${rightClass}.Builder();

#foreach ( $column in $table.columns )
#set($isIgnore = $ignorefields.contains($column.name))
#if( $isIgnore )// IGNORE field $column.fullName , controlled by 'general.beanconverter.tonative.ignore' in properties file
/*
#end
            if(left.${column.getInitializedMethod()}() ){
#if($column.isDate())
                builder.${column.varName}(left.${column.getGetMethod()}().getTime());
#elseif($column.isBinary())
                builder.${column.varName}(ByteString.of(left.${column.getGetMethod()}()));
#else
                builder.${column.varName}(left.${column.getGetMethod()}());
#end
            }
#if( $isIgnore )*/
#end
#end
            builder._new(left.isNew());
            builder.modified(left.getModified());
            builder.initialized(left.getInitialized());
            return builder.build();
        }};
#end###if($codewriter.existsInDependencyPackage())
#end
}
