##$Id: dao.exception.java.vm,v 1.1 2008/04/22 12:11:32 kameleono Exp $
#parse( "header.include.vm" )
#parse( "schema.include.vm" )
$codewriter.setCurrentJavaFilename("${schemaPkg}.exception", "RuntimeDaoException.java")
package ${schemaPkg}.exception;

/**
 * wrap all DaoException threw by native code
 *
 * @author guyadong
 */
public class RuntimeDaoException extends RuntimeException
{
    private static final long serialVersionUID = 2448402307057993837L;

    /**
     * constructor
     */
    public RuntimeDaoException(Throwable cause)
    {
        super(cause);
    }
}
