/**
 * @author guyadong
 */
public interface ${javaClassName} <B> {
    public boolean isNew();
    public void isNew(boolean isNew);
    public boolean isModified();
    public void resetIsModified();
    public void resetPrimaryKeysModified();
    public boolean isInitialized(int columnID);
    public boolean isModified(int columnID);
    public boolean isInitialized(String column);
    public boolean isModified(String column);
    public B copy(B bean);
    public B copy(B bean, int... fieldList);
    public B copy(B bean, String... fieldList);
    public <T> T getValue(int columnID);
    public <T> void setValue(int columnID,T value);
    public <T> T getValue(String column);
    public <T> void setValue(String column,T value);
}
