#####################
#macro(defineFkConst $m_table)
#set ( $m_fkIndex = 0)
#foreach($m_foreignTable in $m_table.foreignTables)
#foreach( $m_fkName in $m_table.getFkMapNames($m_foreignTable.name) )
#set ( $m_columnsOfFk = $m_table.getForeignKeysByFkName($m_fkName) )
    /** foreign key ${m_table.name}(#join($m_columnsOfFk "$e.name" ',')) TO $m_foreignTable.name */
    public static final int ${m_table.asFKConst($m_fkName)} = $m_fkIndex;
#set ( $m_fkIndex = $m_fkIndex +1 )
#end
#end
#end
#####################
#macro(defineIkConst $m_table)
#set ( $m_ikIndex = 0)
#foreach($m_importedTable in $m_table.importedTables)
#foreach( $m_ikName in $m_importedTable.getFkMapNames($m_table.name) )
#set ( $m_columnsOfFk = $m_importedTable.getForeignKeysByFkName($m_ikName) )
    /** imported key ${m_importedTable.name}(#join($m_columnsOfFk "$e.name" ',')) TO $m_table.name */
    public static final int ${m_importedTable.asIKConst($m_ikName)} = $m_ikIndex;
#set ( $m_ikIndex = $m_ikIndex +1 )
#end
#end
#end
#####################
#macro(defineIndexConst $m_table)
#set ( $m_idxIndex = 0)
#foreach($m_index in $m_table.getIndices())
    /** $m_index.table.name index (#join($m_index.getIndexColumnsList() "$e.name" ',')) */
    public static final int ${m_index.asConstName()} = $m_idxIndex;
#set ( $m_idxIndex = $m_idxIndex +1 )
#end
#end
#####################
/**
 * constant declare
 * @author guyadong
 */
public interface $javaClassName {    
    public static final int STATE_BIT_NUM = ${codewriter.bitStateClassSize};
    public static final int STATE_BIT_SHIFT = ${codewriter.bitStateClassShift};
    public static final int STATE_BIT_MASK = ${codewriter.bitStateMaskHex};

    public static final String SQL_LIKE_WILDCARD = "%";
    /** set =QUERY for loadUsingTemplate */
    public static final int SEARCH_EXACT = 0;
    /** set %QUERY% for loadLikeTemplate */
    public static final int SEARCH_LIKE = 1;
    /** set %QUERY for loadLikeTemplate */
    public static final int SEARCH_STARTING_LIKE = 2;
    /** set QUERY% for loadLikeTemplate */
    public static final int SEARCH_ENDING_LIKE = 3;

    /** JDBC property name definition */
    public static enum JdbcProperty{
        /** debug status */DEBUG("isDebug"),
        /** JDBC driver class name */JDBC_DRIVER("jdbc.driver"),
        /** JDBC connection url */JDBC_URL("jdbc.url"),
        /** JDBC user name */JDBC_USERNAME("jdbc.username"),
        /** JDBC password */JDBC_PASSWORD("jdbc.password"),
        /** data source type, c3p0 supported only now */DATASOURCE("datasource"),
        /** c3p0 property */C3P0_MINPOOLSIZE("c3p0.minPoolSize"),
        /** c3p0 property */C3P0_MAXPOOLSIZE("c3p0.maxPoolSize"),
        /** c3p0 property */C3P0_MAXIDLETIME("c3p0.maxIdleTime"),
        /** c3p0 property */C3P0_IDLECONNECTIONTESTPERIOD("c3p0.idleConnectionTestPeriod");
        /** JDBC property name */
        public final String key;
        
        JdbcProperty(String key){
            this.key = key;
        }
        /** return {@link ${esc.hash}key} with {@code prefix} */
        public String withPrefix(String prefix){
            return new StringBuffer().append(prefix).append(key).toString();
        }
        /** 
         * cast key to {@link JdbcProperty} instance if {@link #key} field equal the argument {@code key},
         * otherwise return {@code null} 
         */
        public static final JdbcProperty fromKey(String key){
            for(JdbcProperty p: values()){
                if(p.key.equals(key)){
                    return p;
                }
            }
            return null;
        }

    }
    //////////////////////////////////////
    // COLUMN COLUMN CONSTANT
    //////////////////////////////////////    
    #join($tables '
    public static final int ${e.name.toUpperCase()}_COLUMN_COUNT = $e.countColumns();
    public static final int ${e.name.toUpperCase()}_PK_COUNT = $e.countPrimaryKeys();' '')

    //////////////////////////////////////
    // FOREIGN KEY INDEX DECLARE
    //////////////////////////////////////    
#foreach($t in $tables)
#defineFkConst($t)
#end
    //////////////////////////////////////
    // IMPORTED KEY INDEX DECLARE
    //////////////////////////////////////    
#foreach($t in $tables)
#defineIkConst($t)
#end
    //////////////////////////////////////
    // INDEX INDEX DECLARE
    //////////////////////////////////////    
#foreach($t in $tables)
#defineIndexConst($t)
#end
    //////////////////////////////////////
    // COLUMN ID DECLARE
    //////////////////////////////////////    
#foreach($t in $tables)
#foreach ( $column in $t.columns )
#set ( $vcmo = $velocityCount - 1 )
    /** Identify the $column.getFullName() field (ordinal:$column.getOrdinalPosition()). */
    public static final int $column.getIDConstName() = $vcmo;
#if( !$t.stateVarTypeIsArray() )
    public static final ${codewriter.bitStateClassName} $column.getIDMaskConstName() = 1$!{codewriter.bitStateConstSuffix} << $vcmo;
#end
#end
#end
    //////////////////////////////////////
    // COLUMN NAME DECLARE
    //////////////////////////////////////    
#foreach($t in $tables)
    /////////////////// $t.name ////////////
    /** Contains all the full fields of the $t.name table.*/
    public static final String $t.name.toUpperCase()_FULL_FIELDS ="#join($t.columns '$e.fullName' '"
                            + ",')";
    /** Field that contains the comma separated fields of the $t.name table. */
    public static final String $t.name.toUpperCase()_FIELDS = "#join($t.columns '$e.name' '"
                            + ",')";
    public static final java.util.List<String> $t.name.toUpperCase()_FIELDS_LIST = java.util.Arrays.asList(${t.name.toUpperCase()}_FIELDS.split(","));
    /** Field that contains the comma separated java fields of the $t.name table. */
    public static final String $t.name.toUpperCase()_JAVA_FIELDS = "#join($t.columns '$e.varName' '"
                            + ",')";
    public static final java.util.List<String> $t.name.toUpperCase()_JAVA_FIELDS_LIST = java.util.Arrays.asList(${t.name.toUpperCase()}_JAVA_FIELDS.split(","));
    
    /** Field java types of the $t.name table. */
    public static final Class<?>[] $t.name.toUpperCase()_FIELD_TYPES = new Class<?>[]{
        #join($t.columns '${e.getJavaType()}.class' ',
        ')};
#end
}
