## set your macro here
## example:
## #macro( myFunction $a $b $c)
##  1st argument : $a, 2nd argument : $b and third one is $c
## #end
##
## call your macro with #myFunction("un","dos","three")
#macro (join $elements $do $separator)#foreach($e in $elements)#if ( $velocityCount > 1 )$separator#end$do#end#end