import java.util.List;
import java.util.LinkedList;
import java.util.Collection;
import java.util.concurrent.Callable;
$!importThrows
/**
 * Interface to handle database calls (save, load, count, etc...) for table.
 * @author guyadong
 */
public interface $javaClassName<B extends $B_parentClass> extends Constant {

    public interface Action<B>{
        public abstract class Adapter<B> implements Action<B>{
            @Override
            public B getBean() {return null;}            
        }
        void call(B bean)$!throwsString;
        B getBean();
    }
    public abstract static class Adapter<B${B_extends}> implements $javaClassName<B>{
       /**
         * Insert the B bean into the database.
         * 
         * @param bean the B bean to be saved
         * @return the inserted bean
#if($throwsString)
         * @$!throwsString
#end    
         */
        //13
        protected abstract B insert(B bean)$!throwsString;
        /**
         * Update the B bean record in the database according to the changes.
         *
         * @param bean the B bean to be updated
         * @return the updated bean
#if($throwsString)
         * @$!throwsString
#end         
         */
        //14
        protected abstract B update(B bean)$!throwsString;
        
        public class ListAction implements Action<B> {
            final List<B> list;
            public ListAction() {
                list=new LinkedList<B>();
            }

            public List<B> getList() {
                return list;
            }

            @Override
            public void call(B bean) {
                list.add(bean);
            }

            @Override
            public B getBean() {
                return null;
            }
        }
        @Override
        public int countAll()$!throwsString{
            return this.countWhere("");
        }

        @Override
        public int countUsingTemplate(B bean)$!throwsString{
            return this.countUsingTemplate(bean, SEARCH_EXACT);
        }

        @Override
        public int deleteAll()$!throwsString{
            return this.deleteByWhere("");
        }


        @Override
        public B[] loadAll()$!throwsString{
            return this.loadUsingTemplate(null, 1, -1, SEARCH_EXACT);
        }

        @Override
        public int loadAll(Action<B> action)$!throwsString{
            return this.loadUsingTemplate(null,null,1,-1, SEARCH_EXACT, action);
        }

        @Override
        public B[] loadAll(int startRow, int numRows)$!throwsString{
            return this.loadUsingTemplate(null, startRow, numRows, SEARCH_EXACT);
        }

        @Override
        public int loadAll(int startRow, int numRows, Action<B> action)$!throwsString{
            return this.loadUsingTemplate(null, null, startRow, numRows, SEARCH_EXACT, action);
        }

        @Override
        public List<B> loadAllAsList()$!throwsString{
            return this.loadUsingTemplateAsList(null,1, -1, SEARCH_EXACT);
        }

        @Override
        public List<B> loadAllAsList(int startRow, int numRows)$!throwsString{
            return this.loadUsingTemplateAsList(null, startRow, numRows, SEARCH_EXACT);
        }

        @Override
        public boolean existsPrimaryKey(B bean)$!throwsString{
            return null!=loadByPrimaryKey(bean);
        }
        
        @Override
        public boolean existsPrimaryKey(Object ...keys)$!throwsString{
            return null!=loadByPrimaryKey(keys);
        }
        
        @Override
        public B[] loadByWhere(String where)$!throwsString{
            return this.loadByWhere(where, (int[])null);
        }

        @Override
        public int loadByWhere(String where, Action<B> action)$!throwsString{
            return this.loadByWhere(where, null, action);
        }

        @Override
        public B[] loadByWhere(String where, int[] fieldList)$!throwsString{
            return this.loadByWhere(where, fieldList, 1, -1);
        }

        @Override
        public int loadByWhere(String where, int[] fieldList, Action<B> action)$!throwsString{
            return this.loadByWhere(where, fieldList, 1, -1, action);
        }

        @SuppressWarnings("unchecked")
        @Override
        public B[] loadByWhere(String where, int[] fieldList, int startRow, int numRows)$!throwsString{
            return this.loadByWhereAsList(where, fieldList, startRow, numRows).toArray((B[])new Object[0]);
        }

        @Override
        public int loadByWhere(String where, int[] fieldList, int startRow, int numRows,
                Action<B> action)$!throwsString{
            return this.loadByWhereForAction(where, fieldList, startRow, numRows, action);
        }

        @Override
        public List<B> loadByWhereAsList(String where)$!throwsString{
            return this.loadByWhereAsList(where, null, 1, -1);
        }

        @Override
        public List<B> loadByWhereAsList(String where, int[] fieldList)$!throwsString{
            return this.loadByWhereAsList(where, fieldList, 1, -1);
        }

        @Override
        public List<B> loadByWhereAsList(String where, int[] fieldList, int startRow, int numRows)$!throwsString{
            ListAction action = new ListAction();
            loadByWhereForAction(where, fieldList, startRow, numRows, action);              
            return action.getList();
        }
    
        @Override
        public int loadByWhereForAction(String where, int[] fieldList, int startRow, int numRows,Action<B> action)$!throwsString{
            String sql=createSelectSql(fieldList, where);
            // System.out.println("loadByWhere: " + sql);
            return this.loadBySqlForAction(sql, null, fieldList, startRow, numRows, action);
        }
    
        @Override
        public B[] loadUsingTemplate(B bean)$!throwsString{
            return this.loadUsingTemplate(bean, 1, -1, SEARCH_EXACT);
        }

        @Override
        public int loadUsingTemplate(B bean, Action<B> action)$!throwsString{
            return this.loadUsingTemplate(bean, null, 1, -1, SEARCH_EXACT, action);
        }

        @Override
        public B[] loadUsingTemplate(B bean, int startRow, int numRows)$!throwsString{
            return this.loadUsingTemplate(bean, startRow, numRows, SEARCH_EXACT);
        }

        @Override
        public int loadUsingTemplate(B bean, int startRow, int numRows,
                Action<B> action)$!throwsString{
            return this.loadUsingTemplate(bean, null, startRow, numRows,SEARCH_EXACT, action);
        }

        @SuppressWarnings("unchecked")
        @Override
        public B[] loadUsingTemplate(B bean, int startRow, int numRows, int searchType)$!throwsString{
            return this.loadUsingTemplateAsList(bean, startRow, numRows, searchType).toArray((B[])new Object[0]);
        }

        @Override
        public List<B> loadUsingTemplateAsList(B bean)$!throwsString{
            return this.loadUsingTemplateAsList(bean, 1, -1, SEARCH_EXACT);
        }

        @Override
        public List<B> loadUsingTemplateAsList(B bean, int startRow, int numRows)$!throwsString{
            return this.loadUsingTemplateAsList(bean, startRow, numRows, SEARCH_EXACT);
        }

        @Override
        public List<B> loadUsingTemplateAsList(B bean, int startRow, int numRows, int searchType)$!throwsString{
            ListAction action = new ListAction();
            loadUsingTemplate(bean,null,startRow,numRows,searchType, action);
            return action.getList();
        }
        
        @Override
        public B save(B bean)$!throwsString{
            if(null == bean)return null;
            if (bean.isNew()) {
                return this.insert(bean);
            } else {
                return this.update(bean);
            }
        }
        
        @Override
        public B[] save(B[] beans)$!throwsString{
            if(null != beans){
                for (B bean : beans) 
                {
                    this.save(bean);
                }
            }
            return beans;
        }

        @Override
        public <C extends Collection<B>> C save(C beans)$!throwsString{
            if(null != beans){
                for (B bean : beans) 
                {
                    this.save(bean);
                }
            }
            return beans;
        }
        
        @Override
        public <C extends Collection<B>> C saveAsTransaction(final C beans)$!throwsString{
            return this.runAsTransaction(new Callable<C>(){
                @Override
                public C call() throws Exception {
                    return save(beans);
                }});
        }

        @Override
        public B[] saveAsTransaction(final B[] beans)$!throwsString{
            return this.runAsTransaction(new Callable<B[]>(){
                @Override
                public B[] call() throws Exception {
                    return save(beans);
                }});
        }

        @SuppressWarnings("unchecked")
        @Override
        public B[] loadBySql(String sql, Object[] argList, int[] fieldList)$!throwsString{
            return loadBySqlAsList(sql, argList, fieldList).toArray((B[])new Object[0]);
        }

        @Override
        public List<B> loadBySqlAsList(String sql, Object[] argList, int[] fieldList)$!throwsString{
            ListAction action = new ListAction();
            loadBySqlForAction(sql,argList,fieldList,1,-1,action);
            return action.getList();
        }
        
        @Override
        public String createSelectSql(int[] fieldList, String where){
            StringBuffer sql = new StringBuffer(128);
            String fullFields = this.getFullFields();
            if(null == fieldList || 0 == fieldList.length) {
                sql.append("SELECT ").append(fullFields);
            } else{
                sql.append("SELECT ");
                String[] names=fullFields.split(",");
                for(int i = 0; i < fieldList.length; ++i){
                    if(i > 0) {
                        sql.append(",");
                    }
                    sql.append(names[fieldList[i]]);
                }      
            }
            sql.append(" FROM " + this.getTableName() + " ");
            if(null!=where)
                sql.append(where);
            return sql.toString();
        }

        @Override
        public int delete(B bean)$!throwsString{
            return deleteByPrimaryKey(bean);
        }
        
        @Override
        public <T${T_extends}> T getReferencedBean(B bean, int fkIndex)$!throwsString{
            throw new UnsupportedOperationException();
        }

        @Override
        public <T${T_extends}> T setReferencedBean(B bean, T beanToSet, int fkIndex)$!throwsString{
            throw new UnsupportedOperationException();
        }

        @SuppressWarnings("unchecked")
        @Override
        public <T${T_extends}> T[] getImportedBeans(B bean, int ikIndex)$!throwsString{
            return this.getImportedBeansAsList(bean,ikIndex).toArray((T[])new Object[0]);
        }

        @Override
        public <T${T_extends}> List<T> getImportedBeansAsList(B bean, int ikIndex)$!throwsString{
            throw new UnsupportedOperationException();
        }

        @Override
        public <T${T_extends}> T[] setImportedBeans(B bean, T[] importedBeans, int ikIndex)$!throwsString{
            throw new UnsupportedOperationException();
        }

        @Override
        public <T${T_extends}, C extends Collection<T>> C setImportedBeans(B bean, C importedBeans,
                int ikIndex)$!throwsString{
            throw new UnsupportedOperationException();
        }

        @Override
        public B loadByPrimaryKey(B bean)$!throwsString{
            throw new UnsupportedOperationException();
        }

        @Override
        public B loadByPrimaryKey(Object ...keys)$!throwsString{
            throw new UnsupportedOperationException();
        }

        @Override
        public int deleteByPrimaryKey(Object ...keys)$!throwsString{
            throw new UnsupportedOperationException();
        }
        
        @SuppressWarnings("unchecked")
        @Override
        public B[] loadByIndex(int keyIndex,Object ...keys)$!throwsString{
            return this.loadByIndexAsList(keyIndex,keys).toArray((B[])new Object[0]);
        }
        
        @Override
        public List<B> loadByIndexAsList(int keyIndex,Object ...keys)$!throwsString{
            throw new UnsupportedOperationException();
        }
        
        @Override
        public int deleteByIndex(int keyIndex,Object ...keys)$!throwsString{
            throw new UnsupportedOperationException();
        }
        
        @Override
        public B save(B bean,Object ...args)$!throwsString{
            throw new UnsupportedOperationException();
        }
        
        @Override
        public B saveCollection(B bean,Object ...args)$!throwsString{
            throw new UnsupportedOperationException();
        }
        
        @Override
        public B saveAsTransaction(final B bean,final Object ...args)$!throwsString{
            return this.runAsTransaction(new Callable<B>(){
                @Override
                public B call() throws Exception {
                    return save(bean , args );
                }});
        }
        
        @Override
        public B saveCollectionAsTransaction(final B bean,final Object ...args)$!throwsString{
            return this.runAsTransaction(new Callable<B>(){
                @Override
                public B call() throws Exception {
                    return saveCollection(bean , args );
                }});
        }
        
        @Override
        public void runAsTransaction(final Runnable fun)$!throwsString{
            this.runAsTransaction(new Callable<Object>() {
                @Override
                public Object call() throws Exception {
                    fun.run();
                    return null;
                }
            });
        }
    }    
    
    public String getFields();
    
    public String[] getPrimarykeyNames();
    
    public String getTableName();
        
    public String getFullFields();
    
    /**
     * return true if @{code column}(case insensitive)is primary key,otherwise return false <br>
     * return false if @{code column} is null or empty 
     * @param column
     * @return
     */
    //43
    public boolean isPrimaryKey(String column);
    
    //_____________________________________________________________________
    //
    // COUNT
    //_____________________________________________________________________
    /**
     * Retrieves the number of rows of the table.
     *
     * @return the number of rows returned
#if($throwsString)
     * @$!throwsString
#end
     */
    //24
    public int countAll()$!throwsString;
    
    /**
     * count the number of elements of a specific bean
     *
     * @param bean the bean to look for ant count
     * @return the number of rows returned
#if($throwsString)
     * @$!throwsString
#end
     */
    //27
    public int countUsingTemplate( B bean)$!throwsString;
  
    /**
     * count the number of elements of a specific bean given the search type
     *
     * @param bean the template to look for
     * @param startRow the start row to be used (first row = 1, last row=-1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @param searchType exact ?  like ? starting like ? ending link ? <br>
     *                {@value Constant#SEARCH_EXACT}   {@link Constant#SEARCH_EXACT} <br>
     *                {@value Constant#SEARCH_LIKE}   {@link Constant#SEARCH_LIKE} <br>
     *                {@value Constant#SEARCH_STARTING_LIKE}   {@link Constant#SEARCH_STARTING_LIKE} <br>
     *                {@value Constant#SEARCH_ENDING_LIKE}   {@link Constant#SEARCH_ENDING_LIKE} <br>  
     * @return the number of rows returned
#if($throwsString)
     * @$!throwsString
#end
     */
    //20
    public int countUsingTemplate(B bean, int searchType)$!throwsString;

    /**
     * Retrieves the number of rows of the table with a 'where' clause.
     * It is up to you to pass the 'WHERE' in your where clauses.
     *
     * @param where the restriction clause
     * @return the number of rows returned
#if($throwsString)
     * @$!throwsString
#end
     */
    //25
    public int countWhere(String where)$!throwsString;

    /**
     * Deletes all rows from table.
     * @return the number of deleted rows.
#if($throwsString)
     * @$!throwsString
#end
     */
    //10
    public int deleteAll()$!throwsString;

    /**
     * Deletes rows from the table using a 'where' clause.
     * It is up to you to pass the 'WHERE' in your where clauses.
     * <br>Attention, if 'WHERE' is omitted it will delete all records.
     *
     * @param where the sql 'where' clause
     * @return the number of deleted rows
#if($throwsString)
     * @$!throwsString
#end
     */
    //11
    public int deleteByWhere(String where)$!throwsString;

    /**
     * Deletes rows using a template.
     *
     * @param bean the template object(s) to be deleted
     * @return the number of deleted objects
#if($throwsString)
     * @$!throwsString
#end
     */
    //21
    public int deleteUsingTemplate(B bean)$!throwsString;

    /**
     * Delete row according to its primary keys.
     *
     * @param keys primary keys value<br>
#foreach($table in $tables)
#if($table.hasPrimaryKey())
     *      for $table.name table<br>
     *          #join($table.primaryKeys "PK# $velocityCount $e.fullName type $e.getJavaType()" ',')<br>
#end
#end
     * @return the number of deleted rows
     * @see #delete(B)
#if($throwsString)
     * @$!throwsString
#end
     */   
    //2.1
    public int deleteByPrimaryKey(Object ...keys)$!throwsString;

    /**
     * Delete row according to primary keys of bean.<br>
     * 
     * @param bean will be deleted ,all keys must not be null
     * @return the number of deleted rows,0 returned if bean is null
#if($throwsString)
     * @$!throwsString
#end
     */
    //2.2
    public int delete(B bean)$!throwsString;


    //////////////////////////////////////
    // LOAD ALL
    //////////////////////////////////////

    /**
     * Loads all the rows from table.
     *
     * @return an array of B bean
#if($throwsString)
     * @$!throwsString
#end
     */
    //5
    public B[] loadAll()$!throwsString;

    /**
     * Loads each row from table and dealt with action.
     * @param action  Action object for do something(not null)
     * @return the count dealt by action
#if($throwsString)
     * @$!throwsString
#end
     */
    //5-1    
    public int loadAll(Action<B> action)$!throwsString;

    /**
     * Loads the given number of rows from table, given the start row.
     *
     * @param startRow the start row to be used (first row = 1, last row = -1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @return an array of B bean
#if($throwsString)
     * @$!throwsString
#end
     */
    //6
    public B[] loadAll(int startRow, int numRows)$!throwsString;

    /**
     *  Loads the given number of rows from table, given the start row and dealt with action.
     * @param startRow the start row to be used (first row = 1, last row = -1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @param action  Action object for do something(not null)
     * @return the count dealt by action
#if($throwsString)
     * @$!throwsString
#end
     */
    //6-1    
    public int loadAll(int startRow, int numRows,Action<B> action)$!throwsString;

    /**
     * Loads all the rows from table.
     *
     * @return a list of B bean
#if($throwsString)
     * @$!throwsString
#end
     */
    //5-2
    public List<B> loadAllAsList()$!throwsString;

    /**
     * Loads the given number of rows from table, given the start row.
     *
     * @param startRow the start row to be used (first row = 1, last row = -1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @return a list of B bean
#if($throwsString)
     * @$!throwsString
#end
     */
    //6-2
    public List<B> loadAllAsList(int startRow, int numRows)$!throwsString;

    /**
     * Loads a B bean from the table using primary key fields of {@code bean}.
     * when you don't know which is primary key of table,you can use the method.
     * @param bean the B bean with primary key fields
     * @return a unique B or {@code null} if not found or bean is null
#if($throwsString)
     * @$!throwsString
#end
     */
    //1.2
    public B loadByPrimaryKey(B bean)$!throwsString;
    
    /**
     * Loads a B bean from the table using primary key fields.
     * when you don't know which is primary key of table,you can use the method.
     * @param keys primary keys value:<br> 
#foreach($table in $tables)
#if($table.hasPrimaryKey())
     *      for $table.name table<br>
     *          #join($table.primaryKeys "PK# $velocityCount $e.fullName type $e.getJavaType()" ',')<br>
#end
#end
     * @return a unique B or {@code null} if not found
#if($throwsString)
     * @$!throwsString
#end
     */
    //1.3
    public B loadByPrimaryKey(Object ...keys)$!throwsString;
    
    /**
     * Returns true if this table contains row with primary key fields.
     * @param keys primary keys value:<br>
     * @see #loadByPrimaryKey(Object...)
#if($throwsString)
     * @$!throwsString
#end
     */
    //1.5
    public boolean existsPrimaryKey(Object ...keys)$!throwsString;
    
    /**
     * Returns true if this table contains row specified by primary key fields of B.<br>
     * when you don't know which is primary key of table,you can use the method.
     * @param bean the B bean with primary key fields
     * @return 
     * @see {@link #loadByPrimaryKey(B bean)}
#if($throwsString)
     * @$!throwsString
#end
     */
    //1.6
    public boolean existsPrimaryKey(B bean)$!throwsString;
   
    //////////////////////////////////////
    // SQL 'WHERE' METHOD
    //////////////////////////////////////
    /**
     * Retrieves an array of B given a sql 'where' clause.
     *
     * @param where the sql 'where' clause
     * @return 
#if($throwsString)
     * @$!throwsString
#end
     */
    //7 
    public B[] loadByWhere(String where)$!throwsString;
    
    /**
     * Retrieves each row of B bean given a sql 'where' clause and dealt with action.
     * @param where the sql 'where' clause
     * @param action  Action object for do something(not null)
     * @return the count dealt by action
#if($throwsString)
     * @$!throwsString
#end
     */
    //7-1
    public int loadByWhere(String where,Action<B> action)$!throwsString;

    /**
     * Retrieves an array of B bean given a sql where clause, and a list of fields.
     * It is up to you to pass the 'WHERE' in your where clauses.
     *
     * @param where the sql 'WHERE' clause
     * @param fieldList array of field's ID
     * @return 
#if($throwsString)
     * @$!throwsString
#end
     */
    //8
    public B[] loadByWhere(String where, int[] fieldList)$!throwsString;
   
    /**
     * Retrieves each row of B bean given a sql where clause, and a list of fields,
     * and dealt with action.
     * It is up to you to pass the 'WHERE' in your where clauses.
     * @param where the sql 'WHERE' clause
     * @param fieldList array of field's ID
     * @param action Action object for do something(not null)
     * @return the count dealt by action
#if($throwsString)
     * @$!throwsString
#end
     */
    //8-1 
    public int loadByWhere(String where, int[] fieldList,Action<B> action)$!throwsString;

    /**
     * Retrieves an array of B bean given a sql where clause and a list of fields, and startRow and numRows.
     * It is up to you to pass the 'WHERE' in your where clauses.
     *
     * @param where the sql 'where' clause
     * @param fieldList table of the field's associated constants
     * @param startRow the start row to be used (first row = 1, last row = -1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @return 
#if($throwsString)
     * @$!throwsString
#end
     */
    //9
    public B[] loadByWhere(String where, int[] fieldList, int startRow, int numRows)$!throwsString;

    /**
     * Retrieves each row of B bean given a sql where clause and a list of fields, and startRow and numRows,
     * and dealt wity action.
     * It is up to you to pass the 'WHERE' in your where clauses.
     *
     * @param where the sql 'where' clause
     * @param fieldList table of the field's associated constants
     * @param startRow the start row to be used (first row = 1, last row = -1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @param action Action object for do something(not null)
     * @return the count dealt by action
#if($throwsString)
     * @$!throwsString
#end
     */
    //9-1    
    public int loadByWhere(String where, int[] fieldList, int startRow, int numRows,Action<B> action)$!throwsString;
    /**
     * Retrieves a list of B bean given a sql 'where' clause.
     *
     * @param where the sql 'where' clause
     * @return
#if($throwsString)
     * @$!throwsString
#end
     */
    //7
    public List<B> loadByWhereAsList(String where)$!throwsString;

    /**
     * Retrieves a list of B bean given a sql where clause, and a list of fields.
     * It is up to you to pass the 'WHERE' in your where clauses.
     *
     * @param where the sql 'WHERE' clause
     * @param fieldList array of field's ID
     * @return
#if($throwsString)
     * @$!throwsString
#end
     */
    //8
    public List<B> loadByWhereAsList(String where, int[] fieldList)$!throwsString;
    
    /**
     * Retrieves a list of B bean given a sql where clause and a list of fields, and startRow and numRows.
     * It is up to you to pass the 'WHERE' in your where clauses.
     *
     * @param where the sql 'where' clause
     * @param fieldList table of the field's associated constants
     * @param startRow the start row to be used (first row = 1, last row = -1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @return
#if($throwsString)
     * @$!throwsString
#end
     */
    //9-2
    public List<B> loadByWhereAsList(String where, int[] fieldList, int startRow, int numRows)$!throwsString;

    /**
     * Retrieves each row of B bean given a sql where clause and a list of fields, and startRow and numRows,
     * and dealt wity action
     * It is up to you to pass the 'WHERE' in your where clauses.
     *
     * @param where the sql 'where' clause
     * @param fieldList table of the field's associated constants
     * @param startRow the start row to be used (first row = 1, last row = -1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @param action Action object for do something(not null)
     * @return the count dealt by action
#if($throwsString)
     * @$!throwsString
#end
     */
    //9-3
    public int loadByWhereForAction(String where, int[] fieldList, int startRow, int numRows,Action<B> action)$!throwsString;

    //_____________________________________________________________________
    //
    // USING TEMPLATE
    //_____________________________________________________________________
    /**
     * Loads a unique B bean from a template one giving a c
     *
     * @param bean the B bean to look for
     * @return the bean matching the template
#if($throwsString)
     * @$!throwsString
#end
     */
    //18   
    public B loadUniqueUsingTemplate(B bean)$!throwsString;

    /**
     * Loads an array of B from a template one.
     *
     * @param bean the B bean template to look for
     * @return all the B beans matching the template
#if($throwsString)
     * @$!throwsString
#end
     */
    //19
    public B[] loadUsingTemplate(B bean)$!throwsString;
    
    /**
     * Loads each row from a template one and dealt with action.
     *
     * @param bean the B bean template to look for
     * @param action Action object for do something(not null)
     * @return the count dealt by action
#if($throwsString)
     * @$!throwsString
#end
     */
    //19-1
    public int loadUsingTemplate(B bean,Action<B> action)$!throwsString;

    /**
     * Loads an array of B bean from a template one, given the start row and number of rows.
     *
     * @param bean the B bean template to look for
     * @param startRow the start row to be used (first row = 1, last row=-1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @return all the B matching the template
#if($throwsString)
     * @$!throwsString
#end
     */
    //20
    public B[] loadUsingTemplate(B bean, int startRow, int numRows)$!throwsString;
    
    /**
     * Loads each row from a template one, given the start row and number of rows and dealt with action.
     *
     * @param bean the B bean template to look for
     * @param startRow the start row to be used (first row = 1, last row=-1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @param action Action object for do something(not null)
     * @return the count dealt by action
#if($throwsString)
     * @$!throwsString
#end
     */
    //20-1
    public int loadUsingTemplate(B bean, int startRow, int numRows,Action<B> action)$!throwsString;

    /**
     * Loads each row from a template one, given the start row and number of rows and dealt with action.
     *
     * @param bean the B template to look for
     * @param fieldList table of the field's associated constants
     * @param startRow the start row to be used (first row = 1, last row=-1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @param searchType exact ?  like ? starting like ? ending link ? <br>
     *                {@value Constant#SEARCH_EXACT}   {@link Constant#SEARCH_EXACT} <br>
     *                {@value Constant#SEARCH_LIKE}   {@link Constant#SEARCH_LIKE} <br>
     *                {@value Constant#SEARCH_STARTING_LIKE}   {@link Constant#SEARCH_STARTING_LIKE} <br>
     *                {@value Constant#SEARCH_ENDING_LIKE}   {@link Constant#SEARCH_ENDING_LIKE} <br>  
     * @param action Action object for do something(not null)
     * @return the count dealt by action
#if($throwsString)
     * @$!throwsString
#end
     */
    //20-5
    public int loadUsingTemplate(B bean, int[] fieldList, int startRow, int numRows,int searchType, Action<B> action)$!throwsString;
    /**
     * Loads a list of B bean from a template one, given the start row and number of rows.
     *
     * @param bean the B bean template to look for
     * @param startRow the start row to be used (first row = 1, last row=-1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @param searchType exact ?  like ? starting like ? ending link ? <br>
     *                {@value Constant#SEARCH_EXACT}   {@link Constant#SEARCH_EXACT} <br>
     *                {@value Constant#SEARCH_LIKE}   {@link Constant#SEARCH_LIKE} <br>
     *                {@value Constant#SEARCH_STARTING_LIKE}   {@link Constant#SEARCH_STARTING_LIKE} <br>
     *                {@value Constant#SEARCH_ENDING_LIKE}   {@link Constant#SEARCH_ENDING_LIKE} <br>  
     * @return all the B bean matching the template
#if($throwsString)
     * @$!throwsString
#end
     */
    //20-4
    public B[] loadUsingTemplate(B bean, int startRow, int numRows, int searchType)$!throwsString;

    /**
     * Loads a list of B bean from a template one.
     *
     * @param bean the B bean template to look for
     * @return all the B beans matching the template
#if($throwsString)
     * @$!throwsString
#end
     */
    //19-2
    public List<B> loadUsingTemplateAsList(B bean)$!throwsString;

    /**
     * Loads a list of B bean from a template one, given the start row and number of rows.
     *
     * @param bean the B bean template to look for
     * @param startRow the start row to be used (first row = 1, last row=-1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @return all the B bean matching the template
#if($throwsString)
     * @$!throwsString
#end
     */
    //20-2
    public List<B> loadUsingTemplateAsList(B bean, int startRow, int numRows)$!throwsString;

    /**
     * Loads an array of B bean from a template one, given the start row and number of rows.
     *
     * @param bean the B bean template to look for
     * @param startRow the start row to be used (first row = 1, last row=-1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @param searchType exact ?  like ? starting like ? ending link? <br>
     *                {@value Constant#SEARCH_EXACT}   {@link Constant#SEARCH_EXACT} <br>
     *                {@value Constant#SEARCH_LIKE}   {@link Constant#SEARCH_LIKE} <br>
     *                {@value Constant#SEARCH_STARTING_LIKE}   {@link Constant#SEARCH_STARTING_LIKE} <br>
     *                {@value Constant#SEARCH_ENDING_LIKE}   {@link Constant#SEARCH_ENDING_LIKE} <br>  
     * @return all the B beans matching the template
#if($throwsString)
     * @$!throwsString
#end
     */
    //20-3
    public List<B> loadUsingTemplateAsList(B bean, int startRow, int numRows, int searchType)$!throwsString;

    //_____________________________________________________________________
    //
    // USING INDICES
    //_____________________________________________________________________    
    /**
     * Retrieves a array of B bean using the index specified by keyIndex.
     * @param keyIndex valid values:see also {@link #loadByIndexAsList(int,Object ...)}
     * @param keys key values of index
     * @return
#if($throwsString)
     * @$!throwsString
#end
     * @see #loadByIndexAsList(int ,Object ...)
     */
    public B[] loadByIndex(int keyIndex,Object ...keys)$!throwsString;
    
    /**
     * Retrieves a list of B bean using the index specified by keyIndex.
     * @param keyIndex valid values: <br>
#foreach($t in $tables)
#if($t.countIndices() > 0)
     *        for $t.name table<br>
     *        #join($t.getIndices() "{@link Constant#${e.asConstName()}}" ',')<br>     
#end
#end
     * @param keys key values of index
     * @return a list of B bean
#if($throwsString)
     * @$!throwsString
#end
     */
    public java.util.List<B> loadByIndexAsList(int keyIndex,Object ...keys)$!throwsString;
    
    /**
     * Deletes rows using key.
     * @param keyIndex valid values: see also {@link #loadByIndexAsList(int,Object ...)}
     * @param keys key values of index
     * @return the number of deleted objects
#if($throwsString)
     * @$!throwsString
#end
     */
    public int deleteByIndex(int keyIndex,Object ...keys)$!throwsString;
    //_____________________________________________________________________
    //
    // LISTENER
    //_____________________________________________________________________

    /**
     * Registers a unique {@link TableListener} listener.
     */
    //35
    public void registerListener(TableListener<B> listener);

    /**
     * remove listener.
     */
    //36
    public void unregisterListener(TableListener<B> listener);

    //_____________________________________________________________________
    //
    // SAVE
    //_____________________________________________________________________
    /**
     * Saves the B bean into the database.
     *
     * @param bean the B bean to be saved
     * @return the inserted or updated bean,or null if bean is null
#if($throwsString)
     * @$!throwsString
#end
     */
    //12
    public B save(B bean)$!throwsString;

    /**
     * Saves an array of B bean into the database.
     *
     * @param beans the array of  B bean to be saved
     * @return alwarys beans saved
#if($throwsString)
     * @$!throwsString
#end
     */
    //15
    public B[] save(B[] beans)$!throwsString;
    
    /**
     * Saves a collection of B bean into the database.
     *
     * @param beans the B bean table to be saved
     * @return alwarys beans saved
#if($throwsString)
     * @$!throwsString
#end
     */
    //15-2
    public <C extends Collection<B>> C saveAsTransaction(C beans)$!throwsString;
    
    /**
     * Saves an array of B bean into the database as transaction.
     *
     * @param beans the B bean table to be saved
     * @return alwarys beans saved
     * @see #save(B[])
#if($throwsString)
     * @$!throwsString
#end
     */
    //15-3
    public B[] saveAsTransaction(B[] beans)$!throwsString;

    /**
     * Saves a collection of B bean into the database as transaction.
     *
     * @param beans the B bean table to be saved
     * @return alwarys beans saved
#if($throwsString)
     * @$!throwsString
#end
     */
    //15-4
    public <C extends Collection<B>> C save(C beans)$!throwsString;

    /**
     * Save the B bean and referenced beans and imported beans (array) into the database.
     *
     * @param bean the B bean to be saved
     * @param args referenced beans or imported beans,for each table,each argument's type is different:<br>
#foreach($t in $tables)
#if( $t.hasForeignTables() || $t.hasImportedTables() )
            for $t.name table:<br>
                {@code #foreachForeignTables("$M_native" $t " $m_foreignClass" '' '')#foreachImportedTables("$M_native" $t " $m_importedClass[]" '' '')}<br>
#end
#end
     * @return the inserted or updated B bean
 #if($throwsString)
     * @$!throwsString
#end
     */
    //3.9 SYNC SAVE 
    public B save(B bean,Object ...args)$!throwsString;
    
    /**
     * Save the B bean and referenced beans and imported beans (collection) into the database.
     *
     * @param bean the B bean to be saved
     * @param args referenced beans or imported beans,for each table,each argument's type is different:<br>
#foreach($t in $tables)
#if( $t.hasForeignTables() || $t.hasImportedTables() )
            for $t.name table:<br>
                {@code #foreachForeignTables("$M_native" $t " $m_foreignClass" '' '')#foreachImportedTables("$M_native" $t " Collection<$m_importedClass>" '' '')}<br>
#end
#end
     * @return the inserted or updated B bean
#if($throwsString)
     * @$!throwsString
#end
     */
    //3.10 SYNC SAVE 
    public B saveCollection(B bean,Object ...args)$!throwsString;
    
    /**
     *  Transaction version for sync save
     * @see #save(B ,Object ...)
     * @param bean the B bean to be saved
     * @param args referenced beans or imported beans<br>
     * @return the inserted or updated B bean
#if($throwsString)
     * @$!throwsString
#end
     */
    //3.11 SYNC SAVE 
    public B saveAsTransaction(B bean,Object ...args)$!throwsString;
    
    /**
     *  Transaction version for sync save
     * @see #saveCollection(B ,Object ...)
     * @param bean the B bean to be saved
     * @param args referenced beans or imported beans<br>
     * @return the inserted or updated B bean
#if($throwsString)
     * @$!throwsString
#end
     */
    //3.12 SYNC SAVE 
    public B saveCollectionAsTransaction(B bean,Object ...args)$!throwsString;
        
    /**
     * Load all the elements using a SQL statement specifying a list of fields to be retrieved.
     * @param sql the SQL statement for retrieving
     * @param argList the arguments to use fill given prepared statement,may be null
     * @param fieldList table of the field's associated constants
     * @return an array of B bean
#if($throwsString)
     * @$!throwsString
#end
     */
    public B[] loadBySql(String sql, Object[] argList, int[] fieldList)$!throwsString;
    
    /**
     * Load all elements using a SQL statement specifying a list of fields to be retrieved.
     * @param sql the SQL statement for retrieving
     * @param argList the arguments to use fill given prepared statement,may be null
     * @param fieldList table of the field's associated constants
     * @return an list of B bean
#if($throwsString)
     * @$!throwsString
#end
     */
    public List<B> loadBySqlAsList(String sql, Object[] argList, int[] fieldList)$!throwsString;
    
    /**
     * Load each the elements using a SQL statement specifying a list of fields to be retrieved and dealt by action.
     * @param sql the SQL statement for retrieving
     * @param argList the arguments to use fill given prepared statement,may be null
     * @param fieldList table of the field's associated constants
     * @param startRow the start row to be used (first row = 1, last row = -1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @param action Action object for do something(not null)
     * @return the count dealt by action
#if($throwsString)
     * @$!throwsString
#end
     */
    public int loadBySqlForAction(String sql, Object[] argList, int[] fieldList,int startRow, int numRows,Action<B> action)$!throwsString;
    /**
     * Run {@code Callable<T>} as a transaction.<br>
     * all exceptions but {@code SQLException} threw by {@code Callable<T>} is warpped into {@code RuntimeException}<br>
     * throw {@code NullPointerException} if {@code fun} be {@code null}<br>
     * @param <T>  type of return result
     * @param fun
     * @return
#if($throwsString)
     * @$!throwsString
#end
     */
    public<T> T runAsTransaction(Callable<T> fun)$!throwsString;

    /**
     * Run {@code Runnable} as a transaction.no return
     * @param fun
     * @
     * @see #runAsTransaction(Runnable)
#if($throwsString)
     * @$!throwsString
#end
     */
    public void runAsTransaction(Runnable fun)$!throwsString;
    
    /**
     * Retrieves the T object referenced by fkName.<br>
     * @param <T>
#foreach($t in $tables)
#if($t.hasForeignTables())
     * <ul>
     *     <li> for $t.name:
    #foreachForeignTables("$M_native" $t " *     <li> {@link Constant#${t.asFKConst($m_fkName)}} -> {@link ${m_foreignClass}}</li>" '    ' 'true')
     * </ul>
#end
#end
     * @param bean the B object to use
     * @param fkIndex foreign key name.<br>
#foreach($t in $tables)
#if($t.hasForeignTables())
     *        for for $t.name table:<br>
     *        #foreachForeignTables("$M_native" $t "{@link Constant#${t.asFKConst($m_fkName)}}" ',' '')<br>
#end
#end
     * @return the associated <T> bean or {@code null} if {@code bean}  is {@code null}
#if($throwsString)
     * @$!throwsString
#end
     */
    public <T${T_extends}> T getReferencedBean(B bean,int fkIndex)$!throwsString;
    
    /**
     * Associates the B object to the T object by fkName field.<br>
     * @param <T> see also {@link #getReferencedBean(B, int)}
     * @param bean the B object to use
     * @param beanToSet the T object to associate to the B bean
     * @param fkIndex see also {@link #getReferencedBean(B, int)}
     * @return always beanToSet saved
#if($throwsString)
     * @$!throwsString
#end
     */
    public <T${T_extends}> T setReferencedBean(B bean,T beanToSet,int fkIndex)$!throwsString;
    
    /**
     * Retrieves imported T objects by fkIndex.<br>
     * @param <T>
#foreach($t in $tables)
#if($t.hasImportedTables())
     * <ul>
     *     <li> for $t.name table:
    #foreachImportedTables("$M_native" $t " *     <li> {@link Constant#${m_importedTable.asIKConst($m_fkName)}} -> {@link ${m_foreignClass}}</li>" '    ' 'true')
     * </ul>
#end
#end
     * @param bean the B object to use
     * @param ikIndex foreign key name.<br>
#foreach($t in $tables)
#if($t.hasImportedTables())
     *        for $t.name table:<br>
     *        #foreachImportedTables("$M_native" $t "{@link Constant#${m_importedTable.asFKConst($m_fkName)}}" ',' '')<br>
#end
#end
     * @return the associated T beans or {@code null} if {@code bean} is {@code null}
#if($throwsString)
     * @$!throwsString
#end
     */
    public <T${T_extends}> T[] getImportedBeans(B bean,int ikIndex)$!throwsString;
    
    /**
     * Retrieves imported T objects by ikIndex.<br>
     * @param <T> see also {@link #getImportedBeans(B, int)}
     * @param bean the B object to use
     * @param ikIndex foreign key name.see also {@link #getImportedBeans(B, int)}
     * @return the associated T beans or {@code null} if {@code bean} is {@code null}
#if($throwsString)
     * @$!throwsString
#end
     */
    public <T${T_extends}> List<T> getImportedBeansAsList(B bean,int ikIndex)$!throwsString;
    
    /**
     * Set the importedBeans associates to the bean by fkIndex<br>
     * 
     * @param <T> see also {@link #getImportedBeans(B, int)}
     * @param bean the bean object to use
     * @param importedBeans the T object to associate to bean
     * @param fkIndex foreign key name.see also {@link #getImportedBeans(B, int)}
     * @return importedBeans always
#if($throwsString)
     * @$!throwsString
#end
     */
    public <T${T_extends}> T[] setImportedBeans(B bean,T[] importedBeans,int ikIndex)$!throwsString;
    
    /**
     * Set the importedBeans associates to the bean by fkIndex<br>
     * 
     * @param <T> see also {@link #getImportedBeans(B, int)}
     * @param bean the bean object to use
     * @param importedBeans the T object to associate to bean
     * @param fkIndex foreign key name. see also {@link #getImportedBeans(B, int)}
     * @return importedBeans always
#if($throwsString)
     * @$!throwsString
#end
     */
    public <T${T_extends},C extends Collection<T>> C setImportedBeans(B bean,C importedBeans,int ikIndex)$!throwsString;
    
    public String createSelectSql(int[] fieldList,String where);
}
