#parse( "header.include.vm" )
#parse( "schema.include.vm" )
#set( $gpkg = $codewriter.getProperty('general.package') )
#set( $subpkg=$db.engineAsSubPackage() )
#set( $ignorefields= $codewriter.getProperty('general.beanconverter.tonative.ignore') )
$codewriter.setCurrentJavaFilename("${gpkg}.${subpkg}", "DbConverter.java")
package ${gpkg}.${subpkg};

import java.util.Vector;
import ${gpkg}.IBeanConverter;
import ${gpkg}.IDbConverter;

#foreach ( $table in $tables )
import ${gpkg}.${table.asBeanClassNSP()};
#end
#macro( convertVar $c)_converter$c#end

/**
 * {@link IDbConverter} implemention for $db.engine
 * @author guyadong
 *
 */
public class DbConverter implements IDbConverter<#join($tables "${e.getPackage()}.${e.asBeanClass()}" ',')> {
#foreach ( $table in $tables )
#set ( $leftClass  = "${table.asBeanClassNSP()}" )
#set ( $rightClass = "${table.getPackage()}.${table.asBeanClass()}" )
    public static final IBeanConverter<${leftClass},${rightClass}> #convertVar(${leftClass})=new IBeanConverter.AbstractHandle<${leftClass},${rightClass}>(){

        @Override
        protected ${leftClass} _newInstanceL(){
            return new ${leftClass}();
        }

        @Override
        protected ${rightClass} _newInstanceR(){
            return new ${rightClass}();
        }

        @Override
        protected void _fromRight(${leftClass} left, ${rightClass} right) {
            left.isNew(right.isNew());
#foreach ( $column in $table.columns )
            if(right.${column.getGetMethod()}() != null)
                left.$column.getSetMethod()(right.${column.getGetMethod()}());
#end
        }

        @Override
        protected void _toRight(${leftClass} left, ${rightClass} right) {
            right.isNew(left.isNew());
#foreach ( $column in $table.columns )
#if( $ignorefields.contains($column.name) )// IGNORE field $column.fullName , controlled by 'general.beanconverter.tonative.ignore' in properties file
#end
#if( $ignorefields.contains($column.name) )// #end            if(left.${column.getGetMethod()}() != null)
#if( $ignorefields.contains($column.name) )// #end                right.$column.getSetMethod()(left.${column.getGetMethod()}());
#end
        }};
        
#end
    public static final DbConverter INSTANCE = new DbConverter();
    protected DbConverter() {
    	
    }

    private static final Vector<Object[]> converters= new Vector<Object[]>(){
        private static final long serialVersionUID = 1L;
        {
#foreach ( $table in $tables )
            add(new Object[]{${leftClass}.class,${rightClass}.class,#convertVar(${leftClass})});
#end
        }};
    
    private static final <L,R> int getIndex(Class<L> lClass,Class<R> rClass){
            Vector<Integer>find= new Vector<Integer>();
            if(null!=lClass && null != rClass){
                for(int i=0;i<converters.size();++i){
                    Object[] converter = converters.get(i);
                    if(((Class<?>)converter[0]).isAssignableFrom(lClass) 
                            && ((Class<?>)converter[1]).isAssignableFrom(rClass)){
                        return i;
                    }
                }
            }else if(null != lClass){
                for(int i=0;i<converters.size();++i){
                    Object[] converter = converters.get(i);
                    if(((Class<?>)converter[0]).isAssignableFrom(lClass) 
                            ){
                        find.add(i);
                    }
                }
            }else if(null != rClass){
                for(int i=0;i<converters.size();++i){
                    Object[] converter = converters.get(i);
                    if(((Class<?>)converter[1]).isAssignableFrom(rClass)){
                        find.add(i);
                    }
                }
            }
            return  1==find.size() ? find.get(0) : -1;
    }  
        
    @Override
    @SuppressWarnings("unchecked")
    public <L,R>IBeanConverter<L,R>getBeanConverter(Class<L> lClass,Class<R> rClass){
        int index = getIndex(lClass, rClass);
        if(index<0)
            throw new IllegalArgumentException(
                    String.format("not found converter for (%s,%s)"
                            ,null==lClass?"null":lClass.getSimpleName()
                            ,null==rClass?"null":rClass.getSimpleName()));
        return (IBeanConverter<L, R>) converters.get(index)[2];
    }
    
    @Override
    public synchronized <L,R>void setBeanConverter(Class<L> lClass,Class<R> rClass,IBeanConverter<L,R>converter){
        if(null == lClass || null == rClass || null == converter)
            throw new NullPointerException();
        Object[] c = new Object[]{lClass,rClass,converter};
        int index = getIndex(lClass, rClass);
        if(index<0){
            converters.add(c);
        }else{
            converters.set(index, c);
        }
    }
#foreach ( $table in $tables )
#set ( $leftClass  = "${table.asBeanClassNSP()}" )
#set ( $rightClass = "${table.getPackage()}.${table.asBeanClass()}" )
    @Override
    public IBeanConverter<${leftClass}, ${rightClass}> get${leftClass}Converter() {
        return #convertVar(${leftClass});
    }
#end    
}
