#parse( "schema.include.vm" )
#parse( "header.include.vm" )
#set( $subpkg=$db.engineAsSubPackage() )
$codewriter.setCurrentJavaFilename("${gpkg}.${subpkg}", "ManagerUtil.java")
package ${gpkg}.${subpkg};

import java.util.Map;
import java.util.concurrent.Callable;

import ${pkg}.Manager;
import ${schemaPkg}.exception.RuntimeDaoException;
import ${exceptionPkg}.DaoException;

/**
 * static method delegation of native manager {@link Manager}
 * @author guyadong
 *
 */
public class ManagerUtil {
    /**
     * inject properties to  {@link Manager${esc.hash}databaseProperties}
     * @param properties
     */
    public static final void injectProperties(Map<String,String> properties){
        Manager.injectProperties(properties);
    }
    public static void runAsTransaction(Runnable fun)throws RuntimeDaoException{
        try {
            Manager.getInstance().runAsTransaction(fun);
        } catch (DaoException e){ 
            throw new RuntimeDaoException(e);
        }
    }
    public static <T>T runAsTransaction(Callable<T> fun)throws RuntimeDaoException{
        try {
            return Manager.getInstance().runAsTransaction(fun);
        } catch (DaoException e){ 
            throw new RuntimeDaoException(e);
        }
    }
}