#parse( "header.include.vm" )
#parse( "schema.include.vm" )
#set ( $javaClassName = 'TableManager' )
#set ( $gpkg = $codewriter.getProperty('general.package') )

$codewriter.setCurrentJavaFilename($gpkg, "${javaClassName}.java")
package $gpkg;
###set ( $importThrows = "" )
#set ( $B_parentClass = "BaseBean")
###set ( $throwsString = "" )
#set ( $B_extends = " extends BaseBean" )
#set ( $T_extends = " extends BaseBean" )
#set ( $M_native = 'native' )
#parse( "table.manager.include.vm" )