##$Id: dao.exception.java.vm,v 1.1 2008/04/22 12:11:32 kameleono Exp $
#parse( "header.include.vm" )
#parse( "schema.include.vm" )
$codewriter.setCurrentJavaFilename("$gpkg", "WrapDAOException.java")
package $gpkg;

/**
 * wrap all DAOException threw by native code
 *
 * @author guyadong
 */
public class WrapDAOException extends RuntimeException
{
    private static final long serialVersionUID = 2448402307057993837L;

    /**
     * contructor
     */
    public WrapDAOException(Throwable cause)
    {
        super(cause);
    }
}
