#parse( "schema.include.vm" )
#parse( "header.include.vm" )
$codewriter.setCurrentJavaFilename($schemaPkg, "ForeignKeyListener.java")
package $schemaPkg;

import java.util.List;
import ${exceptionPkg}.DAOException;

/**
 * abstract implementation of foreign key listener for DEELTE RULE
 * @author guyadong
 *
 * @param <FB> bean for foreign table 
 * @param <B> bean for self table
 */
public abstract class ForeignKeyListener<FB extends BaseBean<FB>,B extends BaseBean<B>> extends TableListener.Adapter<FB>{
    protected ForeignKeyListener(){}
    protected abstract List<B> getImportedBeans(FB fb) throws DAOException;
    protected abstract void onRemove(List<B> effectBeans) throws DAOException;
    protected final InheritableThreadLocal<List<B>> importedBeans = new InheritableThreadLocal<List<B>>();
    @Override
    public void beforeDelete(FB bean) throws DAOException{
        this.importedBeans.set(getImportedBeans(bean));
    }

    @Override
    public void afterDelete(FB bean) throws DAOException{
        try{
            List<B> beans = this.importedBeans.get();
            if(null != beans){
                onRemove(beans);
            }
        }finally{
            importedBeans.set(null);
        }
    }
}

