#parse( "header.include.vm" )
#parse( "schema.include.vm" )
#set ( $javaClassName = 'TableManager' )
$codewriter.setCurrentJavaFilename($pkg, "${javaClassName}.java")
package $pkg;
#set ( $importThrows = "import ${pkg}.exception.DAOException;" )
#set ( $B_parentClass = "BaseBean<?>")
#set ( $throwsString = "throws DAOException" )
#set ( $B_extends = " extends BaseBean<?>" )
#set ( $T_extends = " extends BaseBean<?>" )
###set ( $M_native = '' )
#parse( "table.manager.include.vm" )