#parse( "table.include.vm" )
#parse( "header.include.vm" )
#parse( "macros.include.vm" )
######################
#set ( $subpkg=$db.engineAsSubPackage() )
#set ( $javaClassName = $table.asManagerInterfaceNSP() )
#set ( $beanClass = $table.asBeanClassNSP() )
$codewriter.setCurrentJavaFilename(${gpkg}, "${javaClassName}.java")
package ${gpkg};
import ${schemaPkg}.exception.ObjectRetrievalException;
import ${schemaPkg}.exception.RuntimeDaoException;

/**
 * Interface to handle database calls (save, load, count, etc...) for the $tablename table.<br>
#if ( $table.hasRemarks() )
 * Remarks: $table.getRemarks()
#end
 * @author guyadong
 */
public interface ${javaClassName} extends TableManager<$beanClass>
{  
#if ( $table.countPrimaryKeys() > 0 )
    //////////////////////////////////////
    // PRIMARY KEY METHODS
    //////////////////////////////////////

    //1
    /**
     * Loads a {@link $beanClass} from the $tablename using primary key fields.
     *
#foreach ( $pk in $primaryKeys )
     * @param $pk.getVarName() $pk.getJavaType() - PK# $velocityCount
#end     
     * @return a unique $beanClass or {@code null} if not found
     * @throws RuntimeDaoException
     */
    public $beanClass loadByPrimaryKey(#join($primaryKeys "$e.getJavaType() $e.getVarName()" ','))throws RuntimeDaoException;

    //1.1
    /**
     * Loads a {@link $beanClass} from the $tablename using primary key fields.
     *
#foreach ( $pk in $primaryKeys )
     * @param $pk.getVarName() $pk.getJavaType() - PK# $velocityCount
#end     
     * @return a unique $beanClass
     * @throws ObjectRetrievalException if not found
     * @throws RuntimeDaoException
     */
    public $beanClass loadByPrimaryKeyChecked(#join($primaryKeys "$e.getJavaType() $e.getVarName()" ',')) throws RuntimeDaoException,ObjectRetrievalException;
    
    //1.4
    /**
     * Returns true if this $tablename contains row with primary key fields.
#foreach ( $pk in $primaryKeys )
     * @param $pk.getVarName() $pk.getJavaType() - PK# $velocityCount
#end
     * @return
     * @throws RuntimeDaoException
     */
    public boolean existsPrimaryKey(#join($primaryKeys "$e.getJavaType() $e.getVarName()" ','))throws RuntimeDaoException;
#if ( 1 == $table.countPrimaryKeys() )
#set ($pk = $table.getPrimaryKey())
#if ( $pk.hasPrimaryType() )
#set ($pkType = $pk.getJavaPrimaryType())
#else
#set ($pkType = $pk.getJavaType())
#end
    //1.4.1
    /**
     * Check duplicated row by primary keys,if row exists throw exception
     * @param $pk.getVarName() $pk.getJavaType()
     * @return 
     * @throws RuntimeDaoException
     * @throws ObjectRetrievalException
     */
    public $pk.getJavaType() checkDuplicate($pk.getJavaType() $pk.getVarName())throws RuntimeDaoException,ObjectRetrievalException;
    //1.8
    /**
     * Loads {@link $beanClass} from the $tablename using primary key fields.
     *
     * @param keys primary keys array
     * @return list of $beanClass
     * @throws RuntimeDaoException
     */
    public java.util.List<$beanClass> loadByPrimaryKey($pkType... keys)throws RuntimeDaoException;
    //1.9
    /**
     * Loads {@link $beanClass} from the $tablename using primary key fields.
     *
     * @param keys primary keys collection
     * @return list of $beanClass
     * @throws RuntimeDaoException
     */
    public java.util.List<$beanClass> loadByPrimaryKey(java.util.Collection<$pk.getJavaType()> keys)throws RuntimeDaoException;
#end##1 == $table.countPrimaryKeys()   
    //2
    /**
     * Delete row according to its primary keys.<br>
     * all keys must not be null
     *
#foreach ( $pk in $primaryKeys )
     * @param $pk.getVarName() $pk.getJavaType() - PK# $velocityCount
#end     
     * @return the number of deleted rows
     * @throws RuntimeDaoException
     */
    public int deleteByPrimaryKey(#join($primaryKeys "$e.getJavaType() $e.getVarName()" ','))throws RuntimeDaoException;
#if ( 1 == $table.countPrimaryKeys() )
#set ($pk = $table.getPrimaryKey())
#if ( $pk.hasPrimaryType() )
#set ($pkType = $pk.getJavaPrimaryType())
#else
#set ($pkType = $pk.getJavaType())
#end
    //2.2
    /**
     * Delete rows according to primary key.<br>
     *
     * @param keys primary keys array
     * @return the number of deleted rows
     * @throws RuntimeDaoException
     */
    public int deleteByPrimaryKey($pkType... keys)throws RuntimeDaoException;
    //2.3
    /**
     * Delete rows according to primary key.<br>
     *
     * @param keys primary keys collection
     * @return the number of deleted rows
     * @throws RuntimeDaoException
     */
    public int deleteByPrimaryKey(java.util.Collection<$pk.getJavaType()> keys)throws RuntimeDaoException;
#end##1 == $table.countPrimaryKeys()  
    //2.4
    /**
     * Delete beans.<br>
     *
     * @param beans $beanClass collection wille be deleted
     * @return the number of deleted rows
     * @throws RuntimeDaoException
     */
    public int delete($beanClass... beans)throws RuntimeDaoException;
    //2.5
    /**
     * Delete beans.<br>
     *
     * @param beans $beanClass collection wille be deleted
     * @return the number of deleted rows
     * @throws RuntimeDaoException
     */
    public int delete(java.util.Collection<$beanClass> beans)throws RuntimeDaoException;
#end ## $table.countPrimaryKeys() > 0
## ======================================================
## xImportedKeys template
## ======================================================

#foreach ($importedTable in $importedTables)
#if ( $velocityCount == 1 )

    //////////////////////////////////////
    // GET/SET IMPORTED KEY BEAN METHOD
    //////////////////////////////////////
#end
#set ( $importedClass = "$importedTable.asBeanClassNSP()" )
#set ( $importedNative = "$importedTable.asBeanClass()" )
#set ( $importedClassManager = "$importedTable.asManagerInterfaceNSP()" )
#foreach( $fkName in $importedTable.getFkMapNames($table.name) )
#set ( $columnsOfFk = $importedTable.getForeignKeysByFkName($fkName) )
    //3.1 GET IMPORTED
    /**
     * Retrieves the {@link $importedClass} object from the #join($columnsOfFk "$e.fullName" ",") field.<BR>
     * FK_NAME : $fkName 
     * @param bean the {@link $beanClass}
     * @return the associated {@link $importedClass} beans or {@code null} if {@code bean} is {@code null}
     * @throws RuntimeDaoException
     */
    public ${importedClass}[] ${importedTable.getImportedBeansGetMethod($fkName)}($beanClass bean)throws RuntimeDaoException;
    
    //3.1.2 GET IMPORTED
    /**
     * Retrieves the {@link $importedClass} object from the #join($columnsOfFk "$e.fullName" ",") field.<BR>
     * FK_NAME : $fkName 
#foreach ( $pk in $primaryKeys )
     * @param $pk.getFullVarName() $pk.getJavaType() - PK# $velocityCount
#end     
     * @return the associated {@link $importedClass} beans or {@code null} if {@code bean} is {@code null}
     * @throws RuntimeDaoException
     */
    public ${importedClass}[] ${importedTable.getImportedBeansGetMethod($fkName)}(#join($primaryKeys "$e.getJavaType() $e.getFullVarName()" ','))throws RuntimeDaoException;
    
    //3.2 GET IMPORTED
    /**
     * see also ${esc.hash}${importedTable.getImportedBeansGetMethod($fkName)}AsList($beanClass,int,int)
     * @param bean
     * @return
     * @throws RuntimeDaoException
     */
    public java.util.List<$importedClass> ${importedTable.getImportedBeansGetMethod($fkName)}AsList($beanClass bean)throws RuntimeDaoException;

    //3.2.2 GET IMPORTED
    /**
     * Retrieves the {@link $importedClass} object from #join($columnsOfFk "$e.fullName" ",") field.<BR>
     * FK_NAME:$fkName
#foreach ( $pk in $primaryKeys )
     * @param $pk.getFullVarName() $pk.getJavaType() - PK# $velocityCount
#end     
     * @return the associated {@link $importedClass} beans 
     * @throws RuntimeDaoException
     */
    public java.util.List<$importedClass> ${importedTable.getImportedBeansGetMethod($fkName)}AsList(#join($primaryKeys "$e.getJavaType() $e.getFullVarName()" ','))throws RuntimeDaoException;
    //3.2.3 DELETE IMPORTED
    /**
     * delete the associated {@link $importedClass} objects from #join($columnsOfFk "$e.fullName" ",") field.<BR>
     * FK_NAME:$fkName
#foreach ( $pk in $primaryKeys )
     * @param $pk.getFullVarName() $pk.getJavaType() - PK# $velocityCount
#end     
     * @return the number of deleted rows
     * @throws RuntimeDaoException
     */
    public int ${importedTable.getImportedBeansDelMethod($fkName)}(#join($primaryKeys "$e.getJavaType() $e.getFullVarName()" ','))throws RuntimeDaoException;
    //3.2.4 GET IMPORTED
    /**
     * Retrieves the {@link $importedClass} object from #join($columnsOfFk "$e.fullName" ",") field.<BR>
     * FK_NAME:$fkName
     * @param bean the {@link $beanClass}
     * @param startRow the start row to be used (first row = 1, last row=-1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @return the associated {@link $importedClass} beans or empty list if {@code bean} is {@code null}
     * @throws RuntimeDaoException
     */
    public java.util.List<$importedClass> ${importedTable.getImportedBeansGetMethod($fkName)}AsList($beanClass bean,int startRow,int numRows)throws RuntimeDaoException;    
    //3.3 SET IMPORTED
    /**
     * set  the {@link $importedClass} object array associate to $beanClass by the #join($columnsOfFk "$e.fullName" ",") field.<BR>
     * FK_NAME : $fkName 
     * @param bean the referenced {@link $beanClass}
     * @param importedBeans imported beans from $importedTable.name
     * @return importedBeans always
     * @see ${importedClassManager}#$importedTable.getReferencedVarSetMethod($fkName)($importedClass, $beanClass)
     * @throws RuntimeDaoException
     */
    public ${importedClass}[] ${importedTable.getImportedBeansSetMethod($fkName)}($beanClass bean , ${importedClass}[] importedBeans)throws RuntimeDaoException;

    //3.4 SET IMPORTED
    /**
     * set  the {@link $importedClass} object java.util.Collection associate to $beanClass by the #join($columnsOfFk "$e.fullName" ",") field.<BR>
     * FK_NAME:$fkName
     * @param bean the referenced {@link $beanClass} 
     * @param importedBeans imported beans from $importedTable.name 
     * @return importedBeans always
     * @see ${importedClassManager}#$importedTable.getReferencedVarSetMethod($fkName)($importedClass, $beanClass)
     * @throws RuntimeDaoException
     */
    public <C extends java.util.Collection<$importedClass>> C ${importedTable.getImportedBeansSetMethod($fkName)}($beanClass bean , C importedBeans)throws RuntimeDaoException;

#end
#end
## ======================================================
## only xImportedKeys template
## ======================================================
#if( $table.hasForeignTables() || $table.hasImportedTables() )
    //3.5 SYNC SAVE 
    /**
     * Save the $beanClass bean and referenced beans and imported beans into the database.
     *
     * @param bean the {@link $beanClass} bean to be saved
    #foreachForeignTables('native' $table " * @param $table.asRefArg($m_fkName) the {@link $m_foreignClass} bean referenced by {@link $beanClass} " '    ' 'true')
    #foreachImportedTables('native' $table " * @param $m_importedTable.asImpArg($m_fkName) the {@link $m_importedClass} bean refer to {@link $beanClass} " '    ' 'true' )
     * @return the inserted or updated {@link $beanClass} bean
     * @throws RuntimeDaoException
     */
    public $beanClass save($beanClass bean
        #foreachForeignTables('native' $table  ", $m_foreignClass $table.asRefArg($m_fkName) " '' '')

        #foreachImportedTables('native' $table  ", ${m_importedClass}[] $m_importedTable.asImpArg($m_fkName) " '' ''))throws RuntimeDaoException;
    //3.6 SYNC SAVE AS TRANSACTION
    /**
     * Transaction version for sync save<br>
     * see also {@link ${esc.hash}save(${beanClass} #foreachForeignTables('native' ${table}  ", ${m_foreignClass} " '' '')#foreachImportedTables('native' ${table}  ", ${m_importedClass}[] " '' ''))}
     * @param bean the {@link $beanClass} bean to be saved
    #foreachForeignTables('native' $table " * @param $table.asRefArg($m_fkName) the {@link $m_foreignClass} bean referenced by {@link $beanClass} " '    ' 'true')
    #foreachImportedTables('native' $table " * @param $m_importedTable.asImpArg($m_fkName) the {@link $m_importedClass} bean refer to {@link $beanClass} " '    ' 'true' )
     * @return the inserted or updated {@link $beanClass} bean
     * @throws RuntimeDaoException
     */
    public $beanClass saveAsTransaction(final $beanClass bean
        #foreachForeignTables('native' $table  ",final $m_foreignClass $table.asRefArg($m_fkName) " '' '')

        #foreachImportedTables('native' $table  ",final ${m_importedClass}[] $m_importedTable.asImpArg($m_fkName) " '' ''))throws RuntimeDaoException;
#if( $table.hasImportedTables() )
    //3.7 SYNC SAVE 
    /**
     * Save the $beanClass bean and referenced beans and imported beans into the database.
     *
     * @param bean the {@link $beanClass} bean to be saved
    #foreachForeignTables('native' $table " * @param $table.asRefArg($m_fkName) the {@link $m_foreignClass} bean referenced by {@link $beanClass} " '    ' 'true')
    #foreachImportedTables('native' $table " * @param $m_importedTable.asImpArg($m_fkName) the {@link $m_importedClass} bean refer to {@link $beanClass} " '    ' 'true' )
     * @return the inserted or updated {@link $beanClass} bean
     * @throws RuntimeDaoException
     */
    public $beanClass save($beanClass bean
        #foreachForeignTables('native' $table  ", $m_foreignClass $table.asRefArg($m_fkName) " '' '')

        #foreachImportedTables('native' $table  ", java.util.Collection<$m_importedClass> $m_importedTable.asImpArg($m_fkName) " '' ''))throws RuntimeDaoException;
    //3.8 SYNC SAVE AS TRANSACTION
    /**
     * Transaction version for sync save<br>
     * see also {@link ${esc.hash}save($beanClass #foreachForeignTables('native' $table  ", $m_foreignClass " '' '')#foreachImportedTables('native' $table  ", java.util.Collection " '' ''))}
     * @param bean the {@link $beanClass} bean to be saved
    #foreachForeignTables('native' $table " * @param $table.asRefArg($m_fkName) the {@link $m_foreignClass} bean referenced by {@link $beanClass} " '    ' 'true')
    #foreachImportedTables('native' $table " * @param $m_importedTable.asImpArg($m_fkName) the {@link $m_importedClass} bean refer to {@link $beanClass} " '    ' 'true' )
     * @return the inserted or updated {@link $beanClass} bean
     * @throws RuntimeDaoException
     */
    public $beanClass saveAsTransaction(final $beanClass bean
        #foreachForeignTables('native' $table  ",final $m_foreignClass $table.asRefArg($m_fkName) " '' '')

        #foreachImportedTables('native' $table  ",final  java.util.Collection<$m_importedClass> $m_importedTable.asImpArg($m_fkName) " '' ''))throws RuntimeDaoException;
#end ## $table.hasImportedTables()
#end ## $table.hasForeignTables() || $table.hasImportedTables()
## ======================================================
## xForeignKeys template
## ======================================================
#foreach ($foreignTable in $foreignTables)
#if ( $velocityCount == 1 )
    //////////////////////////////////////
    // GET/SET FOREIGN KEY BEAN METHOD
    //////////////////////////////////////
#end
#set ( $foreignClass = "$foreignTable.asBeanClassNSP()" )
#set ( $foreignNative = "$foreignTable.asBeanClass()" )
#set ( $foreignClassManager = "$foreignTable.asManagerClass()" )
#foreach( $fkName in $table.getFkMapNames($foreignTable.name) )
#set ( $columnsOfFk = $table.getForeignKeysByFkName($fkName) )
    //5.1 GET REFERENCED VALUE
    /**
     * Retrieves the {@link $foreignClass} object referenced by #join($columnsOfFk "{@link $beanClass#$e.getGetMethod()}()" ",") field.<br>
     * FK_NAME : $fkName
     * @param bean the {@link $beanClass}
     * @return the associated {@link $foreignClass} bean or {@code null} if {@code bean} is {@code null}
     * @throws RuntimeDaoException
     */
    public $foreignClass $table.getReferencedVarGetMethod($fkName)($beanClass bean)throws RuntimeDaoException;

    //5.2 SET REFERENCED 
    /**
     * Associates the {@link $beanClass} object to the {@link $foreignClass} object by #join($columnsOfFk "{@link $beanClass#$e.getGetMethod()}()" ",") field.
     *
     * @param bean the {@link $beanClass} object to use
     * @param beanToSet the {@link $foreignClass} object to associate to the {@link $beanClass}
     * @return always beanToSet saved
     * @throws RuntimeDaoException
     */
    public $foreignClass $table.getReferencedVarSetMethod($fkName)($beanClass bean, $foreignClass beanToSet)throws RuntimeDaoException;
#end
#end
#if ($table.countIndices() > 0)
    //_____________________________________________________________________
    //
    // USING INDICES
    //_____________________________________________________________________

#foreach ( $index in $table.getIndices() )
#set( $indexColumns = $index.getIndexColumnsList())

#if($index.isUnique())
    /**
     * Retrieves an unique $beanClass using the ${index.getName()} index.
     * #join($indexColumns "
     * @param ${e.getVarName()} the ${e.getName()} column's value filter" '')

     * @return an $beanClass,otherwise null if not found or exists null in input arguments
     * @throws RuntimeDaoException
     */
    public $beanClass loadBy${index.asCamelCaseName()}(#join( $indexColumns "$e.getJavaType() ${e.getVarName()}" ','))throws RuntimeDaoException;
    /**
     * Retrieves an unique $beanClass using the ${index.getName()} index.
     * #join($indexColumns "
     * @param ${e.getVarName()} the ${e.getName()} column's value filter. must not be null" '')

     * @return an $beanClass
     * @throws NullPointerException exists null in input arguments
     * @throws ObjectRetrievalException if not found
     * @throws RuntimeDaoException
     */
    public $beanClass loadBy${index.asCamelCaseName()}Checked(#join( $indexColumns "$e.getJavaType() ${e.getVarName()}" ','))throws RuntimeDaoException,ObjectRetrievalException;
#if( 1 == $indexColumns.size())
#set ($indexColumn = $indexColumns.get(0))
#if ( $indexColumn.hasPrimaryType() )
#set ($columnType = $indexColumn.getJavaPrimaryType())
#else
#set ($columnType = $indexColumn.getJavaType())
#end
    /**
     * Retrieves an unique $beanClass for each ${index.getName()} index.
     *
     * @param indexs index array
     * @return an list of $beanClass
     * @throws RuntimeDaoException
     */
    public java.util.List<$beanClass> loadBy${index.asCamelCaseName()}($columnType... indexs)throws RuntimeDaoException;
    /**
     * Retrieves an unique $beanClass for each ${index.getName()} index.
     *
     * @param indexs index collection
     * @return an list of $beanClass
     * @throws RuntimeDaoException
     */
    public java.util.List<$beanClass> loadBy${index.asCamelCaseName()}(java.util.Collection<$indexColumn.getJavaType()> indexs)throws RuntimeDaoException;
    /**
     * Deletes rows for each ${index.getName()} index.
     *
     * @param indexs index array
     * @return the number of deleted rows
     * @throws RuntimeDaoException
     */
    public int deleteBy${index.asCamelCaseName()}($columnType... indexs)throws RuntimeDaoException;
    /**
     * Deletes rows for each ${index.getName()} index.
     *
     * @param indexs index collection
     * @return the number of deleted rows
     * @throws RuntimeDaoException
     */
    public int deleteBy${index.asCamelCaseName()}(java.util.Collection<$indexColumn.getJavaType()> indexs)throws RuntimeDaoException;
#end##1 == $indexColumns.size()
#else ## $index.isUnique()
    /**
     * Retrieves an array of $beanClass using the ${index.getName()} index.
     *
#foreach ( $column in $index.getIndexColumnsList() )
     * @param ${column.getVarName()} the ${column.getName()} column's value filter.
#end
     * @return an array of $beanClass
     * @throws RuntimeDaoException
     */
    public ${beanClass}[] loadBy${index.asCamelCaseName()}(#join( $index.getIndexColumnsList() "$e.getJavaType() ${e.getVarName()}" ','))throws RuntimeDaoException;
    
    /**
     * Retrieves a list of $beanClass using the ${index.getName()} index.
     *
#foreach ( $column in $index.getIndexColumnsList() )
     * @param ${column.getVarName()} the ${column.getName()} column's value filter.
#end
     * @return a list of $beanClass
     * @throws RuntimeDaoException
     */
    public java.util.List<$beanClass> loadBy${index.asCamelCaseName()}AsList(#join( $index.getIndexColumnsList() "$e.getJavaType() ${e.getVarName()}" ','))throws RuntimeDaoException;
#end## $index.isUnique()

    /**
     * Deletes rows using the ${index.getName()} index.
     *
#foreach ( $column in $index.getIndexColumnsList() )
     * @param ${column.getVarName()} the ${column.getName()} column's value filter.
#end
     * @return the number of deleted objects
     * @throws RuntimeDaoException
     */
    public int deleteBy${index.asCamelCaseName()}(#join( $index.getIndexColumnsList() "$e.getJavaType() ${e.getVarName()}" ','))throws RuntimeDaoException;
    
#end    
#end##($table.countIndices() > 0)

#if ( 1 == $table.countPrimaryKeys() )
#set ($pk = $table.getPrimaryKey())
#if ( $pk.hasPrimaryType() )
#set ($pkType = $pk.getJavaPrimaryType())
#else
#set ($pkType = $pk.getJavaType())
#end
    //45
    /**
     * return a primary key list from {@link $beanClass} array
     * @param beans
     * @return
     */
    public java.util.List<$pk.getJavaType()> toPrimaryKeyList($beanClass... beans);
    //46
    /**
     * return a primary key list from {@link $beanClass} collection
     * @param beans
     * @return
     */
    public java.util.List<$pk.getJavaType()> toPrimaryKeyList(java.util.Collection<$beanClass> beans);
#end##1 == $table.countPrimaryKeys()  

#set ( $jTables = $table.getJunctionTables() )
#foreach ( $jTable in $jTables )
#set ( $linkedTable = $jTable.tableOfJunction( $table) )
#if ( $velocityCount == 1)
    //_____________________________________________________________________
    //
    // MANY TO MANY: LOAD OTHER BEAN VIA JUNCTION TABLE
    //_____________________________________________________________________
#end
#set ( $junctionBeanClass = $jTable.asBeanClass($isGeneral))
#set ( $junctionManagerClass = ${jTable.asManagerClass($isGeneral)})
#set ( $linkedBean = "${linkedTable.asBeanClass($isGeneral)}" )
#set ( $localFk = $jTable.getForeignKeys($table)[0])
#set ( $linkedFk = $jTable.getForeignKeys($linkedTable)[0])
#set ( $linkManagerClass = ${linkedTable.asManagerClass($isGeneral)})
    //22 MANY TO MANY
    /**
     * see also ${esc.hash}$jTable.getLoadMethodOfJunction()AsList($beanClass,int,int)
     * @param bean
     * @return
     * @throws RuntimeDaoException
     */
    public java.util.List<${beanClass}> $jTable.getLoadMethodOfJunction()AsList($linkedBean bean)throws RuntimeDaoException;

    //23 MANY TO MANY
    /**
     * Retrieves an list of $beanClass using the junction table ${jTable.asCoreClass($isGeneral)}, given a $linkedBean, 
     * specifying the start row and the number of rows.
     *
     * @param bean the $linkedBean bean to be used
     * @param startRow the start row to be used (first row = 1, last row = -1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @return a list of $beanClass
     * @throws RuntimeDaoException
     */
    public java.util.List<${beanClass}> $jTable.getLoadMethodOfJunction()AsList($linkedBean bean, int startRow, int numRows)throws RuntimeDaoException;
#define($junctionParam)
#join($jTable.primaryKeys '#set( $fColumn = $e.foreignColumn)#if($fColumn.table == $table)bean#{else}linked#{end}.$fColumn.getGetMethod()()' ',')
#end
    //23.2 MANY TO MANY
    /**
     * add junction between {@link $beanClass} and {@link $linkedBean} if junction not exists
     * @param bean
     * @param linked
     * @throws RuntimeDaoException
     */
    public void addJunction($beanClass bean,$linkedBean linked)throws RuntimeDaoException;
    //23.3 MANY TO MANY
    /**
     * remove junction between {@link $beanClass} and {@link $linkedBean}
     * @param bean
     * @param linked
     * @return deleted rows count
     * @throws RuntimeDaoException
     */
    public int deleteJunction($beanClass bean,$linkedBean linked)throws RuntimeDaoException;
    //23.4 MANY TO MANY
    /** 
     * see also {@link ${esc.hash}addJunction($beanClass,$linkedBean)}
     * @param bean
     * @param linkedBeans
     * @throws RuntimeDaoException
     */
    public void addJunction($beanClass bean,$linkedBean... linkedBeans)throws RuntimeDaoException;
    //23.5 MANY TO MANY
    /** 
     * see also {@link ${esc.hash}addJunction($beanClass,$linkedBean)}
     * @param bean
     * @param linkedBeans
     * @throws RuntimeDaoException
     */
    public void addJunction($beanClass bean,java.util.Collection<$linkedBean> linkedBeans)throws RuntimeDaoException;
    //23.6 MANY TO MANY
    /** 
     * see also {@link ${esc.hash}deleteJunction($beanClass,$linkedBean)}
     * @param bean
     * @param linkedBeans
     * @return
     * @throws RuntimeDaoException
     */
    public int deleteJunction($beanClass bean,$linkedBean... linkedBeans)throws RuntimeDaoException;
    //23.7 MANY TO MANY
    /** 
     * see also {@link ${esc.hash}deleteJunction($beanClass,$linkedBean)} 
     * @param bean
     * @param linkedBeans
     * @return
     * @throws RuntimeDaoException
     */
    public int deleteJunction($beanClass bean,java.util.Collection<$linkedBean> linkedBeans)throws RuntimeDaoException;
#end
################### method for self-reference field#################
#foreach($selfFk in $table.selfRefKeys)
#if($velocityCount == 1)

    //_____________________________________________________________________
    //
    // SELF-REFERENCE
    //_____________________________________________________________________
#end
    //47
    /**
     * return bean list ( include {@code bean}) by the self-reference field : {@code ${table.name}(#join($selfFk.columns '$e.name' ',')) }<br>
     * first element is top bean
     * #join($primaryKeys '@param $e.getVarName() PK# $velocityCount ' '
     ')

     * @return  empty list if input primary key is {@code null}<br>
     *         first element equal last if self-reference field is cycle
     * @throws RuntimeDaoException
     */
    public java.util.List<$beanClass> $table.getListMethod($selfFk)(#join($primaryKeys '$e.getJavaType() $e.getVarName()' ','))throws RuntimeDaoException;
    //48
    /**
     * see also {@link ${esc.hash}$table.getListMethod($selfFk)(#join($primaryKeys '$e.getJavaType()' ','))}
     * @param bean
     * @return
     * @throws RuntimeDaoException
     */
    public java.util.List<$beanClass> $table.getListMethod($selfFk)($beanClass bean)throws RuntimeDaoException;
    //49
    /**
     * get level count on the self-reference field : {@code ${table.name}(#join($selfFk.columns '$e.name' ',')) }
     * #join($primaryKeys '@param $e.getVarName() PK# $velocityCount ' '
     ')

     * @return  0 if input primary key is {@code null}<br>
     *         -1 if self-reference field is cycle
     * @throws RuntimeDaoException
     */
    public int $table.getLevelMethod($selfFk)(#join($primaryKeys '$e.getJavaType() $e.getVarName()' ','))throws RuntimeDaoException;
    //50
    /**
     * see also {@link ${esc.hash}$table.getLevelMethod($selfFk)(#join($primaryKeys '$e.getJavaType()' ','))}
     * @param bean
     * @return
     * @throws RuntimeDaoException
     */
    public int $table.getLevelMethod($selfFk)($beanClass bean)throws RuntimeDaoException;
    //51
    /**
     * test whether the self-reference field is cycle : {@code ${table.name}(#join($selfFk.columns '$e.name' ',')) }
     * #join($primaryKeys '@param $e.getVarName() PK# $velocityCount ' '
     ')

     * @throws RuntimeDaoException
     * @see ${esc.hash}$table.getLevelMethod($selfFk)($beanClass)
     * @return
     * @throws RuntimeDaoException
     */
    public boolean $table.getCyeleTestMethod($selfFk)(#join($primaryKeys '$e.getJavaType() $e.getVarName()' ','))throws RuntimeDaoException;
    //52
    /**
     * test whether the self-reference field is cycle : {@code ${table.name}(#join($selfFk.columns '$e.name' ',')) }
     * @param bean
     * @return
     * @throws RuntimeDaoException
     * @see ${esc.hash}$table.getLevelMethod($selfFk)($beanClass)
     */
    public boolean $table.getCyeleTestMethod($selfFk)($beanClass bean)throws RuntimeDaoException;
    //53
    /**
     * return top bean that with {@code null} self-reference field  : {@code ${table.name}(#join($selfFk.columns '$e.name' ',')) }
     * #join($primaryKeys '@param $e.getVarName() PK# $velocityCount ' '
     ')

     * @return top bean
     * @throws NullPointerException if input primary key is {@code null}
     * @throws IllegalStateException if self-reference field is cycle
     * @throws RuntimeDaoException
     */
    public $beanClass $table.getTopMethod($selfFk)(#join($primaryKeys '$e.getJavaType() $e.getVarName()' ','))throws RuntimeDaoException;
    //54
    /**
     * see also {@link ${esc.hash}$table.getTopMethod($selfFk)(#join($primaryKeys '$e.getJavaType()' ','))}
     * @param bean
     * @return
     * @throws RuntimeDaoException
     */
    public $beanClass $table.getTopMethod($selfFk)($beanClass bean)throws RuntimeDaoException;
#if($table.countPrimaryKeys() == 1)
    //55
    /**
     * Ensures the self-reference field is not cycle : {@code ${table.name}(#join($selfFk.columns '$e.name' ',')) }
     * @param $table.primaryKey.getVarName() PK# $velocityCount
     * @return always {@code $table.primaryKey.getVarName()}
     * @throws IllegalStateException if self-reference field is cycle 
     * @throws RuntimeDaoException
     * @see ${esc.hash}$table.getCyeleTestMethod($selfFk)($table.primaryKey.getJavaType())
     */
    public $table.primaryKey.getJavaType() $table.getCheckNotCycleMethod($selfFk)($table.primaryKey.getJavaType() $table.primaryKey.getVarName())throws RuntimeDaoException;
#end
    //56
    /**
     * Ensures the self-reference field is not cycle : {@code ${table.name}(#join($selfFk.columns '$e.name' ',')) }<br>
     * @param bean
     * @return always {@code bean}
     * @throws IllegalStateException if self-reference field is cycle
     * @throws RuntimeDaoException
     * @see ${esc.hash}$table.getCyeleTestMethod($selfFk)($beanClass)
     */
    public $beanClass $table.getCheckNotCycleMethod($selfFk)($beanClass bean)throws RuntimeDaoException;
#end
}
