##$Id: database.properties.vm,v 1.2 2006/03/25 04:23:14 framiere Exp $
#parse( "schema.include.vm" )
#parse( "header.include.vm" )
$codewriter.setCurrentJavaFilename($pkg, "database.properties")
jdbc.driver=$db.getDriver()
jdbc.url=$db.getUrl()
jdbc.username=$db.getUsername()
jdbc.password=$db.getPassword()
