##$Id: dao.exception.java.vm,v 1.1 2008/04/22 12:11:32 kameleono Exp $
#parse( "schema.include.vm" )
#parse( "header.include.vm" )
$codewriter.setCurrentJavaFilename("$exceptionPkg", "DaoException.java")
package $exceptionPkg;

import java.sql.SQLException;

/**
 * @author sql2java
 */
public class DaoException extends SQLException
{
    private static final long serialVersionUID = 5165438223391151142L;

    /**
     * contructor
     */
    public DaoException()
    {
        super();
    }

    /**
     * contructor
     */
    public DaoException(String message)
    {
        super(message);
    }

    /**
     * contructor
     */
    public DaoException(Throwable cause)
    {
        super(cause);
    }

    /**
     * contructor
     */
    public DaoException(String message, Throwable cause)
    {
        super(message, cause);
    }
}
