##$Id: data.access.exception.java.vm,v 1.1 2008/04/22 12:11:32 kameleono Exp $
#parse( "schema.include.vm" )
#parse( "header.include.vm" )
$codewriter.setCurrentJavaFilename("$exceptionPkg", "DataAccessException.java")
package $exceptionPkg;

/**
 * @author sql2java
 */
public class DataAccessException extends DAOException
{
    private static final long serialVersionUID = 5584785072347143333L;

    /**
     * contructor
     */
    public DataAccessException()
    {
        super();
    }

    /**
     * contructor
     */
    public DataAccessException(String message)
    {
        super(message);
    }

    /**
     * contructor
     */
    public DataAccessException(Throwable cause)
    {
        super(cause);
    }

    /**
     * contructor
     */
    public DataAccessException(String message, Throwable cause)
    {
        super(message, cause);
    }
}
