#parse( "header.include.vm" )
#set($servicePkg = $codewriter.getProperty('swift.service.package'))
#if(!$servicePkg)
#set($servicePkg = $schemaPkg)
#end
#set ( $javaClassName = "DuplicateReordException" )
$codewriter.setCurrentJavaFilename("${servicePkg}", "${javaClassName}.java")
package ${servicePkg};

import com.facebook.swift.codec.ThriftStruct;
import com.facebook.swift.codec.ThriftField;

/**
 * duplicated record exception
 * @author guyadong
 *
 */
@ThriftStruct
public final class DuplicateReordException extends BaseServiceException {
    private static final long serialVersionUID = 1L;
    private String message;
    
    public DuplicateReordException() {
    }

    public DuplicateReordException(String message) {
        super(message);
        this.message = super.getMessage();
    }

    public DuplicateReordException(Throwable cause) {
        super(cause);
        this.message = super.getMessage();
    }

    public DuplicateReordException(String message, Throwable cause) {
        super(message, cause);
        this.message = super.getMessage();
    }

    @Override
    @ThriftField(4)
    public String getMessage() {
        return message;
    }
    @ThriftField
    public void setMessage(String message) {
        this.message = message;
    }
}