#parse( "header.include.vm" )
#set($servicePkg = $codewriter.getProperty('swift.service.package'))
#if(!$servicePkg)
#set($servicePkg = $schemaPkg)
#end
#set ( $javaClassName = "DuplicateRecordException" )
$codewriter.setCurrentJavaFilename("${servicePkg}", "${javaClassName}.java")
package ${servicePkg};

import com.facebook.swift.codec.ThriftStruct;

/**
 * duplicated record exception
 * @author guyadong
 *
 */
@ThriftStruct
public final class DuplicateRecordException extends BaseServiceException {
    private static final long serialVersionUID = 1L;    
    public DuplicateRecordException() {
    }

    public DuplicateRecordException(String message) {
        super(message);
    }

    public DuplicateRecordException(Throwable cause) {
        super(cause);
    }

    public DuplicateRecordException(String message, Throwable cause) {
        super(message, cause);
    }
}