#parse( "header.include.vm" )
#set($servicePkg = $codewriter.getProperty('swift.service.package'))
#if(!$servicePkg)
#set($servicePkg = $schemaPkg)
#end
#set ( $javaClassName = "ServiceRuntimeException" )
$codewriter.setCurrentJavaFilename("${servicePkg}", "${javaClassName}.java")
package ${servicePkg};

import com.facebook.swift.codec.ThriftField;
import com.facebook.swift.codec.ThriftStruct;

/**
 * Runtime exception wrap class<br>
 * all {@link RuntimeException} threw from service was wrapped to the object<br>
 * @author guyadong
 *
 */
@ThriftStruct
public final class ServiceRuntimeException extends BaseServiceException{
    private static final long serialVersionUID = 1L;
    private int type = 0;

    public ServiceRuntimeException() {
    }
    /**
     * @param cause
     */
    public ServiceRuntimeException(Throwable cause) {
        super(cause);
    }
    /**
     * @param type exception type
     * @param cause
     */
    public ServiceRuntimeException(int type,Throwable cause) {
        super(cause);
        this.type = type;
    }

    /** return exception type */
    @ThriftField(4)
    public int getType() {
        return type;
    }
    @ThriftField
    public void setType(int type) {
        this.type = type;
    }
}
