##$Id: renderer.servlet.java.vm,v 1.3 2008/04/02 20:20:45 kameleono Exp $
#parse( "schema.include.vm" )
#parse( "header.include.vm" )
$codewriter.setCurrentJavaFilename($servletPkg, "RendererServlet.java")
package $servletPkg;

import java.io.IOException;

import javax.servlet.ServletException;
import javax.servlet.http.HttpServlet;
import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;

#foreach ($table in $tables)
import ${table.getPackage()}.web.${table.asRendererClass()};
#end

/**
 * renderer servlet
 */
public class RendererServlet extends HttpServlet
{
    private static final long serialVersionUID = -5093039985815471908L;

    public void doGet(HttpServletRequest req, HttpServletResponse res) throws ServletException, IOException
    {
        String module = req.getParameter("module");
#foreach ( $table in $tables )
        if ("$table.getJavaName()".equalsIgnoreCase(module) || "${table.getName()}".equalsIgnoreCase(module))
            (new $table.asRendererClass()(req, res)).render();
#end
    }
    public void doPost(HttpServletRequest req, HttpServletResponse res) throws ServletException, IOException
    {
        doGet(req, res);
    }
}
