#parse( "schema.include.vm" )
#parse( "header.include.vm" )
#set ( $javaClassName = 'Constant' )

$codewriter.setCurrentJavaFilename($gpkg, "${javaClassName}.java")
package $gpkg;
#parse( "constant.include.vm" )