#parse( "header.include.vm" )
#parse( "schema.include.vm" )
#if(!$codewriter.existsDependencyPackage() || !$codewriter.existsDependencySrc())
$codewriter.setSaveCurrentFile(false);
#stop
#end
#set ($swiftParser = $codewriter.loadExtensionTool("gu.rpc.thrift.SwiftServiceParser"))
// $swiftParser.class.name 
#set ($classpath = ['D:/j/facelog/facelog-main/target/classes','D:/j/facelog/db/target/classes'])
// classloader $swiftParser.class.classLoader.class.name
// classloader.parent $swiftParser.class.classLoader.parent.class.name
#set ($metadata = $swiftParser.parse('net.gdface.facelog.FaceLogDefinition',$classpath))

/*
$metadata.class.name
$swiftParser.output($metadata)
*/
#set ( $thriftSrc = $codewriter.getProperty("dependency.src"))
#set ( $thriftPackage = $codewriter.getProperty("dependency.package"))
#set ( $serviceName = ${metadata.name} )
#set ( $javaClassName = "${serviceName}Client" )
$codewriter.setCurrentJavaFilename("${gpkg}", "${javaClassName}.java")
package ${gpkg};
#macro( convertVar $c)converter$c#end
import com.facebook.nifty.client.FramedClientConnector;
import com.facebook.swift.service.ThriftClientManager;
import static com.google.common.net.HostAndPort.fromParts;

public class $javaClassName implements Constant{
    private final ThriftClientManager clientManager = new ThriftClientManager();
    private final ${thriftPackage}.$serviceName service;
    public $javaClassName(String host,int port){
        try{
            service = clientManager.createClient(
                    new FramedClientConnector(fromParts(host, port)),
                    ${thriftPackage}.${serviceName}.class).get();
		    } catch (Exception e) {
		    	throw new RuntimeException(e);
		    }
    }
#foreach($method in $metadata.methods)
#end
}
