##$Id: manager.java.vm,v 1.13 2008/05/07 17:50:12 kameleono Exp $
#parse( "table.include.vm" )
#parse( "header.include.vm" )
$codewriter.setCurrentJavaFilename("$table.getPackage()", "${managerClass}.java")
package $table.getPackage();
import java.sql.Connection;
import java.sql.PreparedStatement;
import java.sql.ResultSet;
import java.sql.SQLException;
import java.sql.Statement;
import java.sql.Types;
import java.util.List;
import java.util.concurrent.Callable;
import java.util.concurrent.atomic.AtomicInteger;

import ${pkg}.Constant;
import ${pkg}.Manager;
import ${pkg}.TableListener;
import ${pkg}.TableManager;
import ${pkg}.exception.DAOException;
import ${pkg}.exception.DataAccessException;
import net.gdface.facelog.dborm.exception.DataRetrievalException;
import ${pkg}.exception.ObjectRetrievalException;
#if ( $table.hasVersionColumn() )
import ${pkg}.exception.OptimisticLockingException;
#end
#foreach ($linkedTable in $linkedTables)
import ${linkedTable.getPackage()}.${linkedTable.asBeanClass()};
import ${linkedTable.getPackage()}.${linkedTable.asManagerClass()};
#end

/**
 * Handles database calls (save, load, count, etc...) for the $tablename table.<br>
#if ( $table.hasRemarks() )
 * Remarks: $table.getRemarks()<br>
#end
 * @author sql2java
 */
public class $managerClass extends TableManager.Adapter<$beanClass>
{
    /**
     * Tablename.
     */
    public static final String TABLE_NAME="$tablename";

   /**
     * Contains all the primarykey fields of the $tablename table.
     */
    public static final String[] PRIMARYKEY_NAMES =
    {
#foreach ( $column in $primaryKeys )
        #if ( $velocityCount > 1 ),#end"$column.getName()"
#end
    };

    /**
    * @return tableName
    */
    public String getTableName() {
        return TABLE_NAME;
    }

    public String getFields() {
        return ${tablename.toUpperCase()}_FIELDS;
    }
    
    public String getFullFields() {
        return ${tablename.toUpperCase()}_FULL_FIELDS;
    }
    
    /**
    * @return primarykeyNames
    */
    public String[] getPrimarykeyNames() {
        return PRIMARYKEY_NAMES;
    }

    private static $managerClass singleton = new $managerClass();
    protected $managerClass(){}
    /**
     * Get the $managerClass singleton.
     *
     * @return $managerClass
     */
    public static $managerClass getInstance()
    {
        return singleton;
    }


    /**
     * Creates a new $beanClass instance.
     *
     * @return the new $beanClass
     */
    public $beanClass createBean()
    {
        return new $beanClass();
    }
    
    @Override
    protected Class<$beanClass> _beanType(){
        return ${beanClass}.class;
    }
    
#if ( $table.countPrimaryKeys() > 0 )
    //////////////////////////////////////
    // PRIMARY KEY METHODS
    //////////////////////////////////////

    /**
     * Loads a {@link $beanClass} from the $tablename using primary key fields.
     *
#foreach ( $pk in $primaryKeys )
     * @param $pk.getVarName() $pk.getJavaType() - PK# $velocityCount
#end     
     * @return a unique $beanClass or {@code null} if not found or have null argument
     * @throws DAOException
     */
    //1
    public $beanClass loadByPrimaryKey(#join($primaryKeys "$e.getJavaType() $e.getVarName()" ',')) throws DAOException
    {
        if(#join($primaryKeys "null == $e.getVarName()" ' || ')){
            return null;
        }
        try{
            return loadByPrimaryKeyChecked(#join($primaryKeys "$e.getVarName()" ','));
        }catch(ObjectRetrievalException e){
            // not found
            return null;
        }
    }
    
    /**
     * Loads a {@link $beanClass} from the $tablename using primary key fields.
     *
#foreach ( $pk in $primaryKeys )
     * @param $pk.getVarName() $pk.getJavaType() - PK# $velocityCount
#end     
     * @return a unique $beanClass
     * @throws ObjectRetrievalException if not found
     * @throws DAOException
     */
    //1.1
    @SuppressWarnings("unused")
    public $beanClass loadByPrimaryKeyChecked(#join($primaryKeys "$e.getJavaType() $e.getVarName()" ',')) throws DAOException
    {
        if(#join($primaryKeys "null == $e.getVarName()" ' || ')){
            throw new NullPointerException();
        }
        Connection c = null;
        PreparedStatement ps = null;
        try
        {
            c = this.getConnection();
            StringBuilder sql = new StringBuilder("SELECT " + ${tablename.toUpperCase()}_FIELDS + " FROM $tablename WHERE #join($primaryKeys "$e.getName()=?" " and " )");
            // System.out.println("loadByPrimaryKey: " + sql);
            ps = c.prepareStatement(sql.toString(),
                                    ResultSet.TYPE_SCROLL_INSENSITIVE,
                                    ResultSet.CONCUR_READ_ONLY);
#foreach( $pk in $primaryKeys )
            $pk.getPreparedStatementMethod($pk.getVarName(), $velocityCount)
#end
            List<$beanClass> pReturn = this.loadByPreparedStatementAsList(ps);
            if (1 == pReturn.size()) {
                return pReturn.get(0);
            } else {
                throw new ObjectRetrievalException();
            }
        }
        catch(ObjectRetrievalException e)
        {
            throw e;
        }
        catch(SQLException e)
        {
            throw new DataRetrievalException(e);
        }
        finally
        {
            this.getManager().close(ps);
            this.freeConnection(c);
        }
    }

    //1.2
    @Override
    public $beanClass loadByPrimaryKey(${beanClass} bean) throws DAOException
    {
        return bean==null?null:loadByPrimaryKey(#join($primaryKeys 'bean.${e.getGetMethod()}()' ','));
    }
    
    //1.2.2
    @Override
    public $beanClass loadByPrimaryKeyChecked(${beanClass} bean) throws DAOException
    {
        if(null == bean)
            throw new NullPointerException();
        return loadByPrimaryKeyChecked(#join($primaryKeys 'bean.${e.getGetMethod()}()' ','));
    }
    
    /**
     * Loads a {@link $beanClass} from the $tablename using primary key fields.
     * @param keys primary keys value:<br> 
     * @return a unique {@link $beanClass} or {@code null} if not found
     * @see {@link ${esc.hash}loadByPrimaryKey(#join($primaryKeys "$e.getJavaType() $e.getVarName()" ','))}
     */
    //1.3
    @Override
    public $beanClass loadByPrimaryKey(Object ...keys) throws DAOException{
        if(null == keys)
            throw new NullPointerException();
        if(keys.length != $table.countPrimaryKeys() )
            throw new IllegalArgumentException("argument number mismatch with primary key number");
        #join($primaryKeys '
        if(null == keys[$m_0count])return null;
' '')
        return loadByPrimaryKey(#join($primaryKeys '($e.getJavaType())keys[$m_0count]' ','));
    }
    //1.3.2
    @Override
    public $beanClass loadByPrimaryKeyChecked(Object ...keys) throws DAOException{
        if(null == keys)
            throw new NullPointerException();
        if(keys.length != $table.countPrimaryKeys() )
            throw new IllegalArgumentException("argument number mismatch with primary key number");
        #join($primaryKeys '
        if(! (keys[$m_0count] instanceof $e.getJavaType()))
            throw new IllegalArgumentException("invalid type for the No.$velocityCount argument,expected type:$e.getJavaType()");
' '')
        return loadByPrimaryKeyChecked(#join($primaryKeys '($e.getJavaType())keys[$m_0count]' ','));
    }
    /**
     * Returns true if this $tablename contains row with primary key fields.
#foreach ( $pk in $primaryKeys )
     * @param $pk.getVarName() $pk.getJavaType() - PK# $velocityCount
#end     
     * @throws DAOException
     */
    //1.4
    @SuppressWarnings("unused")
    public boolean existsPrimaryKey(#join($primaryKeys "$e.getJavaType() $e.getVarName()" ',')) throws DAOException
    {
        if(#join($primaryKeys "null == $e.getVarName()" ' || ')){
            return false;
        }
        Connection c = null;
        PreparedStatement ps = null;
        try{
            c = this.getConnection();
            StringBuilder sql = new StringBuilder("SELECT COUNT(*) AS MCOUNT FROM $tablename WHERE #join($primaryKeys "$e.getName()=?" " and " )");
            // System.out.println("loadByPrimaryKey: " + sql);
            ps = c.prepareStatement(sql.toString(),
                                    ResultSet.TYPE_SCROLL_INSENSITIVE,
                                    ResultSet.CONCUR_READ_ONLY);
#foreach( $pk in $primaryKeys )
            $pk.getPreparedStatementMethod($pk.getVarName(), $velocityCount)
#end
            return 1 == this.countByPreparedStatement(ps);
        }catch(SQLException e){
            throw new ObjectRetrievalException(e);
        }finally{
            this.getManager().close(ps);
            this.freeConnection(c);
        }
    }
    /**
     * Return true if this $tablename contains row with primary key fields.
     * @param bean  
     * @throws DAOException
     * @return false if primary kes has null
     * @see ${esc.hash}countUsingTemplate($beanClass)
     */
    //1.6
    @Override
    public boolean existsByPrimaryKey($beanClass bean) throws DAOException
    {
        if(null == bean #join($primaryKeys " || null == bean.${e.getGetMethod()}()" ''))
            return false;
        $table.stateVarType() modified = bean.getModified();
        try{
            bean.resetModifiedExceptPrimaryKeys();
            return 1 == countUsingTemplate(bean);
        }finally{
            bean.setModified(modified);
        }
    }
    //1.7
    @Override
    public $beanClass checkDuplicate($beanClass bean) throws DAOException{
        if(!existsByPrimaryKey(bean))
            throw new ObjectRetrievalException("Duplicate entry ("+ #join( $primaryKeys "bean.$e.getGetMethod()()" ' + "" "" +') +") for key 'PRIMARY'");
        return bean;
    }
#if ( 1 == $table.countPrimaryKeys() )
#set ($pk = $table.getPrimaryKey())
    /**
     * Check duplicated row by primary keys,if row exists throw {@link ObjectRetrievalException}
     * @param $pk.getVarName() $pk.getJavaType()
     * @throws DAOException
     * @see ${esc.hash}existsPrimaryKey($pk.getJavaType() $pk.getVarName())
     */
    //1.4.1
    public $pk.getJavaType() checkDuplicate($pk.getJavaType() $pk.getVarName()) throws DAOException
    {
        if(existsPrimaryKey($pk.getVarName()))
            throw new ObjectRetrievalException("Duplicate entry '"+ $pk.getVarName() +"' for key 'PRIMARY'");
        return $pk.getVarName();
    }    
#end##1 == $table.countPrimaryKeys()  
    /**
     * Delete row according to its primary keys.<br>
     * all keys must not be null
     * 
#foreach ( $pk in $primaryKeys )
     * @param $pk.getVarName() $pk.getJavaType() - PK# $velocityCount
#end     
     * @return the number of deleted rows
     * @throws DAOException
     * @see {@link ${esc.hash}delete($beanClass)}
     */
    //2
    public int deleteByPrimaryKey(#join($primaryKeys "$e.getJavaType() $e.getVarName()" ',')) throws DAOException
    {
        ${beanClass} bean=createBean();
#foreach ( $pk in $primaryKeys )
        bean.${pk.getSetMethod()}(${pk.getVarName()});
#end
        return this.delete(bean);
    }

    /**
     * Delete row according to primary keys of bean.<br>
     * 
     * @param bean will be deleted ,all keys must not be null
     * @return the number of deleted rows,0 returned if bean is null
     * @throws DAOException
     */
    //2
    @Override
    public int delete($beanClass bean) throws DAOException
    {
        if(null == bean #join($primaryKeys " || null == bean.${e.getGetMethod()}()" '')){
            return 0;
        }
        Connection c = null;
        PreparedStatement ps = null;
        try
        {
            this.listenerContainer.beforeDelete(bean); // listener callback
            c = this.getConnection();
            StringBuilder sql = new StringBuilder("DELETE FROM $tablename WHERE #join($primaryKeys "$e.getName()=?" " and " )");
            // System.out.println("deleteByPrimaryKey: " + sql);
            ps = c.prepareStatement(sql.toString(),
                                    ResultSet.TYPE_SCROLL_INSENSITIVE,
                                    ResultSet.CONCUR_READ_ONLY);
#foreach( $pk in $primaryKeys )
            $pk.getPreparedStatementMethod("bean.${pk.getGetMethod()}()", $velocityCount)
#end
            int _rows=ps.executeUpdate();
            if(_rows>0)
                this.listenerContainer.afterDelete(bean); // listener callback
            return _rows;
        }
        catch(SQLException e)
        {
            throw new DataAccessException(e);
        }
        finally
        {
            this.getManager().close(ps);
            this.freeConnection(c);
        }
    }

    /**
     * Delete row according to its primary keys.
     *
     * @param keys primary keys value:<br> 
     * @return the number of deleted rows
     * @see {@link ${esc.hash}delete($beanClass)}
     */   
    //2.1
    @Override
    public int deleteByPrimaryKey(Object ...keys) throws DAOException{
        if(null == keys)
            throw new NullPointerException();
        if(keys.length != $table.countPrimaryKeys() )
            throw new IllegalArgumentException("argument number mismatch with primary key number");
        ${beanClass} bean = createBean();   
        #join($primaryKeys '
        if(null != keys[$m_0count] && !(keys[$m_0count] instanceof $e.getJavaType()))
            throw new IllegalArgumentException("invalid type for the No.$velocityCount argument,expected type:$pk.getJavaType()");
        bean.${e.getSetMethod()}(($e.getJavaType())keys[$m_0count]);' '')

        return delete(bean);
    }
    
#end ## $table.countPrimaryKeys() > 0
## ======================================================
## xImportedKeys template
## ======================================================

#if ($table.hasImportedKeys())
    //////////////////////////////////////
    // IMPORT KEY GENERIC METHOD
    //////////////////////////////////////
    
    private static final Class<?>[] importedBeanTypes = new Class<?>[]{#foreachImportedTables('' $table "${m_importedClass}.class" ',' '')};

    /**
     * @see ${esc.hash}getImportedBeansAsList($beanClass,int)
     */
    @SuppressWarnings("unchecked")
    @Override
    public <T extends ${pkg}.BaseBean<T>> T[] getImportedBeans($beanClass bean, int ikIndex) throws DAOException {
        return getImportedBeansAsList(bean, ikIndex).toArray((T[])java.lang.reflect.Array.newInstance(importedBeanTypes[ikIndex],0));
    }
    
    /**
     * Retrieves imported T objects by ikIndex.<br>
     * @param <T>
     * <ul>
    #foreachImportedTables('' $table " *     <li> {@link Constant#${m_importedTable.asIKConst($m_fkName)}} -> {@link ${m_importedClass}}</li>" '    ' 'true')
     * </ul>
     * @param bean the {@link $beanClass} object to use
     * @param ikIndex valid values: #foreachImportedTables('' $table "{@link Constant#${m_importedTable.asIKConst($m_fkName)}}" ',' '')

     * @return the associated T beans or {@code null} if {@code bean} is {@code null}
     * @throws DAOException
     */
    @SuppressWarnings("unchecked")
    @Override
    public <T extends ${pkg}.BaseBean<T>> List<T> getImportedBeansAsList($beanClass bean,int ikIndex)throws DAOException{
        switch(ikIndex){
#foreach($importedTable in $importedTables)
#set ( $importedClass = "$importedTable.asBeanClass()" )
#set ( $importedClassManager = "$importedTable.asManagerClass()" )
#foreach( $fkName in $importedTable.getFkMapNames($table.name) )
#set ( $columnsOfFk = $importedTable.getForeignKeysByFkName($fkName) )
        case ${importedTable.asIKConst($fkName)}:
            return (List<T>)this.${importedTable.getImportedBeansGetMethod($fkName)}AsList(bean);
#end
#end
        }
        throw new IllegalArgumentException(String.format("invalid ikIndex %d", ikIndex));
    }
    
    /**
     * Set the T objects as imported beans of bean object by ikIndex.<br>
     * @param <T> see also {@link ${esc.hash}getImportedBeansAsList($beanClass,int)}
     * @param bean the {@link $beanClass} object to use
     * @param importedBeans the ${importedClass} array to associate to the {@link $beanClass}
     * @param ikIndex valid values: see also {@link ${esc.hash}getImportedBeansAsList($beanClass,int)}
     * @return importedBeans always
     * @throws DAOException
     */
    @SuppressWarnings("unchecked")
    @Override
    public <T extends ${pkg}.BaseBean<T>> T[] setImportedBeans($beanClass bean,T[] importedBeans,int ikIndex)throws DAOException{
        switch(ikIndex){
#foreach($importedTable in $importedTables)
#set ( $importedClass = "$importedTable.asBeanClass()" )
#set ( $importedClassManager = "$importedTable.asManagerClass()" )
#foreach( $fkName in $importedTable.getFkMapNames($table.name) )
#set ( $columnsOfFk = $importedTable.getForeignKeysByFkName($fkName) )
        case ${importedTable.asIKConst($fkName)}:
            return (T[])${importedTable.getImportedBeansSetMethod($fkName)}(bean,(${importedClass}[])importedBeans);
#end
#end
        }
        throw new IllegalArgumentException(String.format("invalid ikIndex %d", ikIndex));
    }
    /**
     * Set the importedBeans associates to the bean by ikIndex<br>
     * @param <T> see also {@link ${esc.hash}getImportedBeansAsList($beanClass,int)}
     * @param bean the {@link $beanClass} object to use
     * @param importedBeans the <T> object to associate to the {@link $beanClass}
     * @param ikIndex valid values: see also {@link ${esc.hash}getImportedBeansAsList($beanClass,int)}

     * @return importedBeans always
     * @throws DAOException
     */
    @SuppressWarnings("unchecked")
    @Override
    public <T extends ${pkg}.BaseBean<T>,C extends java.util.Collection<T>> C setImportedBeans($beanClass bean,C importedBeans,int ikIndex)throws DAOException{
        switch(ikIndex){
#foreach($importedTable in $importedTables)
#set ( $importedClass = "$importedTable.asBeanClass()" )
#set ( $importedClassManager = "$importedTable.asManagerClass()" )
#foreach( $fkName in $importedTable.getFkMapNames($table.name) )
#set ( $columnsOfFk = $importedTable.getForeignKeysByFkName($fkName) )
        case ${importedTable.asIKConst($fkName)}:
            return (C)${importedTable.getImportedBeansSetMethod($fkName)}(bean,(java.util.Collection<${importedClass}>)importedBeans);
#end
#end
        }
        throw new IllegalArgumentException(String.format("invalid ikIndex %d", ikIndex));
    }
#end ## $table.hasImportedKeys()
########################################
#foreach ($importedTable in $importedTables)
#if ( $velocityCount == 1 )

    //////////////////////////////////////
    // GET/SET IMPORTED KEY BEAN METHOD
    //////////////////////////////////////
#end
#set ( $importedClass = "$importedTable.asBeanClass()" )
#set ( $importedClassManager = "$importedTable.asManagerClass()" )
#foreach( $fkName in $importedTable.getFkMapNames($table.name) )
#set ( $columnsOfFk = $importedTable.getForeignKeysByFkName($fkName) )
    /**
     * Retrieves the {@link $importedClass} object from the #join($columnsOfFk "$e.fullName" ",") field.<BR>
     * FK_NAME : $fkName 
     * @param bean the {@link $beanClass}
     * @return the associated {@link $importedClass} beans or {@code null} if {@code bean} is {@code null}
     * @throws DAOException
     */
    //3.1 GET IMPORTED
    public ${importedClass}[] ${importedTable.getImportedBeansGetMethod($fkName)}($beanClass bean) throws DAOException
    {
        return ${importedTable.getImportedBeansGetMethod($fkName)}AsList(bean).toArray(new ${importedClass}[0]);
    }
    /**
     * Retrieves the {@link $importedClass} object from the #join($columnsOfFk "$e.fullName" ",") field.<BR>
     * FK_NAME : $fkName 
#foreach ( $pk in $primaryKeys )
     * @param $pk.getVarName() $pk.getJavaType() - PK# $velocityCount
#end     
     * @return the associated {@link $importedClass} beans or {@code null} if {@code bean} is {@code null}
     * @throws DAOException
     */
    //3.1.2 GET IMPORTED
    public ${importedClass}[] ${importedTable.getImportedBeansGetMethod($fkName)}(#join($primaryKeys "$e.getJavaType() $e.getFullVarName()" ',')) throws DAOException
    {
        ${beanClass} bean = createBean();
#foreach ( $pk in $primaryKeys )
        bean.${pk.getSetMethod()}(${pk.getFullVarName()});
#end       
        return ${importedTable.getImportedBeansGetMethod($fkName)}(bean);
    }
    /**
     * Retrieves the {@link $importedClass} object from #join($columnsOfFk "$e.fullName" ",") field.<BR>
     * FK_NAME:$fkName
     * @param bean the {@link $beanClass}
     * @return the associated {@link $importedClass} beans 
     * @throws DAOException
     */
    //3.2 GET IMPORTED
    public List<$importedClass> ${importedTable.getImportedBeansGetMethod($fkName)}AsList($beanClass bean) throws DAOException
    {
        if(null == bean)return new java.util.ArrayList<$importedClass>();
        $importedClass other = ${importedClassManager}.getInstance().createBean();
#foreach ( $fk in $columnsOfFk ) 
        other.$fk.getSetMethod()(bean.$fk.getForeignColumn().getGetMethod()());
#end
        return ${importedClassManager}.getInstance().loadUsingTemplateAsList(other);
    }
    /**
     * Retrieves the {@link $importedClass} object from #join($columnsOfFk "$e.fullName" ",") field.<BR>
     * FK_NAME:$fkName
#foreach ( $pk in $primaryKeys )
     * @param $pk.getVarName() $pk.getJavaType() - PK# $velocityCount
#end     
     * @return the associated {@link $importedClass} beans 
     * @throws DAOException
     */
    //3.2.2 GET IMPORTED
    public List<$importedClass> ${importedTable.getImportedBeansGetMethod($fkName)}AsList(#join($primaryKeys "$e.getJavaType() $e.getFullVarName()" ',')) throws DAOException
    {
         ${beanClass} bean = createBean();
#foreach ( $pk in $primaryKeys )
        bean.${pk.getSetMethod()}(${pk.getFullVarName()});
#end       
        return ${importedTable.getImportedBeansGetMethod($fkName)}AsList(bean);
    }
    /**
     * set  the {@link $importedClass} object array associate to $beanClass by the #join($columnsOfFk "$e.fullName" ",") field.<BR>
     * FK_NAME : $fkName 
     * @param bean the referenced {@link $beanClass}
     * @param importedBeans imported beans from $importedTable.name
     * @return importedBeans always
     * @throws DAOException
     * @see {@link ${importedClassManager}#$importedTable.getReferencedVarSetMethod($fkName)($importedClass, $beanClass)
     */
    //3.3 SET IMPORTED
    public ${importedClass}[] ${importedTable.getImportedBeansSetMethod($fkName)}($beanClass bean , ${importedClass}[] importedBeans) throws DAOException
    {
        if(null != importedBeans){
            for( $importedClass importBean : importedBeans ){
                ${importedClassManager}.getInstance().$importedTable.getReferencedVarSetMethod($fkName)(importBean , bean);
            }
        }
        return importedBeans;
    }

    /**
     * set  the {@link $importedClass} object collection associate to $beanClass by the #join($columnsOfFk "$e.fullName" ",") field.<BR>
     * FK_NAME:$fkName
     * @param bean the referenced {@link $beanClass} 
     * @param importedBeans imported beans from $importedTable.name 
     * @return importedBeans always
     * @throws DAOException
     * @see {@link ${importedClassManager}#$importedTable.getReferencedVarSetMethod($fkName)($importedClass, $beanClass)
     */
    //3.4 SET IMPORTED
    public <C extends java.util.Collection<$importedClass>> C ${importedTable.getImportedBeansSetMethod($fkName)}($beanClass bean , C importedBeans) throws DAOException
    {
        if(null != importedBeans){
            for( $importedClass importBean : importedBeans ){
                ${importedClassManager}.getInstance().$importedTable.getReferencedVarSetMethod($fkName)(importBean , bean);
            }
        }
        return importedBeans;
    }

#end
#end
## ======================================================
## only xImportedKeys template
## ======================================================
#if( $table.hasForeignTables() || $table.hasImportedTables() )
    /**
     * Save the $beanClass bean and referenced beans and imported beans into the database.
     *
     * @param bean the {@link $beanClass} bean to be saved
    #foreachForeignTables('' $table " * @param $table.asRefArg($m_fkName) the {@link $m_foreignClass} bean referenced by {@link $beanClass} " '    ' 'true')
    #foreachImportedTables('' $table " * @param $m_importedTable.asImpArg($m_fkName) the {@link $m_importedClass} beans refer to {@link $beanClass} " '    ' 'true' )
     * @return the inserted or updated {@link $beanClass} bean
     * @throws DAOException
     */
    //3.5 SYNC SAVE 
    public $beanClass save($beanClass bean
        #foreachForeignTables('' $table  ", $m_foreignClass $table.asRefArg($m_fkName) " '' '')

        #foreachImportedTables('' $table  ", ${m_importedClass}[] $m_importedTable.asImpArg($m_fkName) " '' '')) throws DAOException
    {
        if(null == bean) return null;
#foreach($foreignTable in $foreignTables)
#set ( $foreignClassManager = "$foreignTable.asManagerClass()" )
#foreach ( $fkName in $table.getFkMapNames($foreignTable.name) )
#set ( $columnsOfFk = $table.getForeignKeysByFkName($fkName) )
        if(null != $table.asRefArg($fkName))
            this.$table.getReferencedVarSetMethod($fkName)(bean,$table.asRefArg($fkName));
#end
#end
        bean = this.save( bean );
#foreach($importedTable in $importedTables)
#set ( $importedClass = "$importedTable.asBeanClass()" )
#set ( $importedClassManager = "$importedTable.asManagerClass()" )
#foreach ( $fkName in $importedTable.getFkMapNames($table.name) )
#set ( $columnsOfFk = $importedTable.getForeignKeysByFkName($fkName) )
#set ( $impVar= $importedTable.asImpArg($fkName) )
        this.${importedTable.getImportedBeansSetMethod($fkName)}(bean,$impVar);
        ${importedClassManager}.getInstance().save( $impVar );
#end
#end
        return bean;
    } 

    /**
     * Transaction version for sync save
     * @see {@link ${esc.hash}save($beanClass #foreachForeignTables('' $table  ", $m_foreignClass " '' '')#foreachImportedTables('' $table  ", ${m_importedClass}[] " '' ''))}
     */
    //3.6 SYNC SAVE AS TRANSACTION
    public $beanClass saveAsTransaction(final $beanClass bean
        #foreachForeignTables('' $table  ",final $m_foreignClass $table.asRefArg($m_fkName) " '' '')

        #foreachImportedTables('' $table  ",final ${m_importedClass}[] $m_importedTable.asImpArg($m_fkName) " '' '')) throws DAOException
    {
        return this.runAsTransaction(new Callable<$beanClass>(){
            @Override
            public $beanClass call() throws Exception {
                return save(bean #foreachForeignTables('' $table  ", $table.asRefArg($m_fkName) " '' '')#foreachImportedTables('' $table  ", $m_importedTable.asImpArg($m_fkName) " '' ''));
            }});
    }
#if( $table.hasImportedTables() )
    /**
     * Save the $beanClass bean and referenced beans and imported beans into the database.
     *
     * @param bean the {@link $beanClass} bean to be saved
    #foreachForeignTables('' $table " * @param $table.asRefArg($m_fkName) the {@link $m_foreignClass} bean referenced by {@link $beanClass} " '    ' 'true')
    #foreachImportedTables('' $table " * @param $m_importedTable.asImpArg($m_fkName) the {@link $m_importedClass} bean refer to {@link $beanClass} " '    ' 'true' )
     * @return the inserted or updated {@link $beanClass} bean
     * @throws DAOException
     */
    //3.7 SYNC SAVE 
    public $beanClass save($beanClass bean
        #foreachForeignTables('' $table  ", $m_foreignClass $table.asRefArg($m_fkName) " '' '')

        #foreachImportedTables('' $table  ", java.util.Collection<$m_importedClass> $m_importedTable.asImpArg($m_fkName) " '' '')) throws DAOException
    {
        if(null == bean) return null;
#foreach($foreignTable in $foreignTables)
#set ( $foreignClassManager = "$foreignTable.asManagerClass()" )
#foreach ( $fkName in $table.getFkMapNames($foreignTable.name) )
#set ( $columnsOfFk = $foreignTable.getForeignKeysByFkName($fkName) )
        this.$table.getReferencedVarSetMethod($fkName)(bean,$table.asRefArg($fkName));
#end
#end
        bean = this.save( bean );
#foreach($importedTable in $importedTables)
#set ( $importedClass = "$importedTable.asBeanClass()" )
#set ( $importedClassManager = "$importedTable.asManagerClass()" )
#foreach ( $fkName in $importedTable.getFkMapNames($table.name) )
#set ( $columnsOfFk = $importedTable.getForeignKeysByFkName($fkName) )
#set ( $impVar= $importedTable.asImpArg($fkName) )
        this.${importedTable.getImportedBeansSetMethod($fkName)}(bean,$impVar);
        ${importedClassManager}.getInstance().save( $impVar );
#end
#end
        return bean;
    }

    /**
     * Transaction version for sync save
     * @see {@link ${esc.hash}save($beanClass #foreachForeignTables('' $table  ", $m_foreignClass " '' '')#foreachImportedTables('' $table  ", java.util.Collection " '' ''))}
     */
    //3.8 SYNC SAVE AS TRANSACTION
    public $beanClass saveAsTransaction(final $beanClass bean
        #foreachForeignTables('' $table  ",final $m_foreignClass $table.asRefArg($m_fkName) " '' '')

        #foreachImportedTables('' $table  ",final  java.util.Collection<$m_importedClass> $m_importedTable.asImpArg($m_fkName) " '' '')) throws DAOException
    {
        return this.runAsTransaction(new Callable<$beanClass>(){
            @Override
            public $beanClass call() throws Exception {
                return save(bean #foreachForeignTables('' $table  ", $table.asRefArg($m_fkName) " '' '')#foreachImportedTables('' $table  ", $m_importedTable.asImpArg($m_fkName) " '' ''));
            }});
    }
#end## $table.hasImportedTables()
    /**
     * Save the $beanClass bean and referenced beans and imported beans (array) into the database.
     *
     * @param bean the {@link $beanClass} bean to be saved
     * @param args referenced beans or imported beans<br>
     *      see also {@link ${esc.hash}save($beanClass #foreachForeignTables('' $table  ", $m_foreignClass " '' '')#foreachImportedTables('' $table  ", ${m_importedClass}[] " '' ''))}
     * @return the inserted or updated {@link $beanClass} bean
     * @throws DAOException
     */
    //3.9 SYNC SAVE 
    @Override
    public $beanClass save($beanClass bean,Object ...args) throws DAOException
    {
        if(null == args)
            save(bean);
#set ( $argLength = $table.countForeignKeyNames() + $table.countImportedKeyNames() )
#set ( $argIndex = 0 )
#set ( $argCount = 1 )
#set ( $callList= "" )
        if(args.length > $argLength)
            throw new IllegalArgumentException("too many dynamic arguments,max dynamic arguments number: $argLength");
#foreach($foreignTable in $foreignTables)
#set ( $foreignClass = "$foreignTable.asBeanClass()" )
#foreach ( $fkName in $table.getFkMapNames($foreignTable.name) )
#set ( $columnsOfFk = $table.getForeignKeysByFkName($fkName) )
        if( args.length > $argIndex && null != args[$argIndex] && !(args[$argIndex] instanceof $foreignClass)){
            throw new IllegalArgumentException("invalid type for the No.$argCount dynamic argument,expected type:$foreignClass");
        }
#set ( $callList = "$callList,(args.length < $argCount || null == args[$argIndex])?null:($foreignClass)args[$argIndex]")
#set ( $argIndex = $argIndex + 1 )            
#set ( $argCount = $argCount + 1 )
#end
#end
#foreach($importedTable in $importedTables)
#set ( $importedClass = "$importedTable.asBeanClass()" )
#foreach ( $fkName in $importedTable.getFkMapNames($table.name) )
#set ( $columnsOfFk = $importedTable.getForeignKeysByFkName($fkName) )
#set ( $impVar= $importedTable.asImpArg($fkName) )
        if( args.length > $argIndex && null != args[$argIndex] && !(args[$argIndex] instanceof ${importedClass}[])){
            throw new IllegalArgumentException("invalid type for the No.$argCount dynamic argument,expected type:${importedClass}[]");
        }
#set ( $callList = "$callList,(args.length < $argCount || null == args[$argIndex])?null:(${importedClass}[])args[$argIndex]")
#set ( $argIndex = $argIndex + 1 )            
#set ( $argCount = $argCount + 1 )
#end
#end
        return save(bean$callList);
    } 

    /**
     * Save the $beanClass bean and referenced beans and imported beans (collection) into the database.
     *
     * @param bean the {@link $beanClass} bean to be saved
     * @param args referenced beans or imported beans<br>
     *      see also {@link ${esc.hash}save($beanClass #foreachForeignTables('' $table  ", $m_foreignClass " '' '')#foreachImportedTables('' $table  ", java.util.Collection " '' ''))}
     * @return the inserted or updated {@link $beanClass} bean
     * @throws DAOException
     */
    //3.10 SYNC SAVE 
    @SuppressWarnings("unchecked")
    @Override
    public $beanClass saveCollection($beanClass bean,Object ...args) throws DAOException
    {
        if(null == args)
            save(bean);
#set ( $argLength = $table.countForeignKeyNames() + $table.countImportedKeyNames() )
#set ( $argIndex = 0 )
#set ( $argCount = 1 )
#set ( $callList= "" )
        if(args.length > $argLength)
            throw new IllegalArgumentException("too many dynamic arguments,max dynamic arguments number: $argLength");
#foreach($foreignTable in $foreignTables)
#set ( $foreignClass = "$foreignTable.asBeanClass()" )
#set ( $foreignClassManager = "$foreignTable.asManagerClass()" )
#foreach ( $fkName in $table.getFkMapNames($foreignTable.name) )
#set ( $columnsOfFk = $table.getForeignKeysByFkName($fkName) )
        if( args.length > $argIndex && null != args[$argIndex] && !(args[$argIndex] instanceof $foreignClass)){
            throw new IllegalArgumentException("invalid type for the No.$argCount argument,expected type:$foreignClass");
        }
#set ( $callList = "$callList,(args.length < $argCount || null == args[$argIndex])?null:($foreignClass)args[$argIndex]")
#set ( $argIndex = $argIndex + 1 )            
#set ( $argCount = $argCount + 1 )
#end
#end
#foreach($importedTable in $importedTables)
#set ( $importedClass = "$importedTable.asBeanClass()" )
#set ( $importedClassManager = "$importedTable.asManagerClass()" )
#foreach ( $fkName in $importedTable.getFkMapNames($table.name) )
#set ( $columnsOfFk = $importedTable.getForeignKeysByFkName($fkName) )
#set ( $impVar= $importedTable.asImpArg($fkName) )
        if( args.length > $argIndex && null != args[$argIndex] && !(args[$argIndex] instanceof java.util.Collection)){
            throw new IllegalArgumentException("invalid type for the No.$argCount argument,expected type:java.util.Collection<$importedClass>");
        }
#set ( $callList = "$callList,(args.length < $argCount || null == args[$argIndex])?null:(java.util.Collection<$importedClass>)args[$argIndex]")
#set ( $argIndex = $argIndex + 1 )
#set ( $argCount = $argCount + 1 )
#end
#end
        return save(bean$callList);
    } 
#end## $table.hasForeignTables() || $table.hasImportedTables()
## ======================================================
## xForeignKeys template
## ======================================================
#if ($table.hasForeignKeys())
    //////////////////////////////////////
    // FOREIGN KEY GENERIC METHOD
    //////////////////////////////////////

    /**
     * Retrieves the bean object referenced by fkIndex.<br>
     * @param <T>
     * <ul>
    #foreachForeignTables('' $table " *     <li> {@link Constant#${table.asFKConst($m_fkName)}} -> {@link ${m_foreignClass}}</li>" '    ' 'true')
     * </ul>
     * @param bean the {@link $beanClass} object to use
     * @param fkIndex valid values: <br>
     *        #foreachForeignTables('' $table "{@link Constant#${table.asFKConst($m_fkName)}}" ',' '')

     * @return the associated <T> bean or {@code null} if {@code bean} or {@code beanToSet} is {@code null}
     * @throws DAOException
     */
    @SuppressWarnings("unchecked")
    @Override
    public <T extends ${pkg}.BaseBean<T>> T getReferencedBean($beanClass bean,int fkIndex)throws DAOException{
        switch(fkIndex){
#foreach($foreignTable in $foreignTables)
#set ( $foreignClass = "$foreignTable.asBeanClass()" )
#set ( $foreignClassManager = "$foreignTable.asManagerClass()" )
#foreach( $fkName in $table.getFkMapNames($foreignTable.name) )
#set ( $columnsOfFk = $table.getForeignKeysByFkName($fkName) )
        case ${table.asFKConst($fkName)}:
            return  (T)this.${table.getReferencedVarGetMethod($fkName)}(bean);
#end
#end
        }
        throw new IllegalArgumentException(String.format("invalid fkIndex %d", fkIndex));
    }
    
    /**
     * Associates the {@link $beanClass} object to the bean object by fkIndex field.<br>
     * 
     * @param <T> see also {@link ${esc.hash}getReferencedBean($beanClass,int)}
     * @param bean the {@link $beanClass} object to use
     * @param beanToSet the <T> object to associate to the {@link $beanClass}
     * @param fkIndex valid values: see also {@link ${esc.hash}getReferencedBean($beanClass,int)}
     * @return always beanToSet saved
     * @throws DAOException
     */
    @SuppressWarnings("unchecked")
    @Override
    public <T extends ${pkg}.BaseBean<T>> T setReferencedBean($beanClass bean,T beanToSet,int fkIndex)throws DAOException{
        switch(fkIndex){
#foreach($foreignTable in $foreignTables)
#set ( $foreignClass = "$foreignTable.asBeanClass()" )
#set ( $foreignClassManager = "$foreignTable.asManagerClass()" )
#foreach( $fkName in $table.getFkMapNames($foreignTable.name) )
#set ( $columnsOfFk = $table.getForeignKeysByFkName($fkName) )
        case ${table.asFKConst($fkName)}:
            return  (T)this.${table.getReferencedVarSetMethod($fkName)}(bean, (${foreignClass})beanToSet);
#end
#end
        }
        throw new IllegalArgumentException(String.format("invalid fkIndex %d", fkIndex));
    }
#end ## $table.hasForeignKeys()
    
#foreach ($foreignTable in $foreignTables)
#if ( $velocityCount == 1 )
    //////////////////////////////////////
    // GET/SET FOREIGN KEY BEAN METHOD
    //////////////////////////////////////

#end
#set ( $foreignClass = "$foreignTable.asBeanClass()" )
#set ( $foreignClassManager = "$foreignTable.asManagerClass()" )
#foreach( $fkName in $table.getFkMapNames($foreignTable.name) )
#set ( $columnsOfFk = $table.getForeignKeysByFkName($fkName) )

    /**
     * Retrieves the {@link $foreignClass} object referenced by #join($columnsOfFk "{@link $beanClass#$e.getGetMethod()}()" ",") field.<br>
     * FK_NAME : $fkName
     * @param bean the {@link $beanClass}
     * @return the associated {@link $foreignClass} bean or {@code null} if {@code bean} is {@code null}
     * @throws DAOException
     */
    //5.1 GET REFERENCED VALUE
    public $foreignClass $table.getReferencedVarGetMethod($fkName)($beanClass bean) throws DAOException
    {
        if(null == bean)return null;
        bean.$table.getReferencedVarSetMethod($fkName)(${foreignClassManager}.getInstance().loadByPrimaryKey(#join($columnsOfFk "bean.$e.getGetMethod()()" ','))); 
        return bean.$table.getReferencedVarGetMethod($fkName)();
    }

    /**
     * Associates the {@link $beanClass} object to the {@link $foreignClass} object by #join($columnsOfFk "{@link $beanClass#$e.getGetMethod()}()" ",") field.
     *
     * @param bean the {@link $beanClass} object to use
     * @param beanToSet the {@link $foreignClass} object to associate to the {@link $beanClass} #if(!$table.isNullable($fkName))(NOT NULL)#end.
     * @return always beanToSet saved
     * @throws Exception
     */
    //5.2 SET REFERENCED 
    public $foreignClass $table.getReferencedVarSetMethod($fkName)($beanClass bean, $foreignClass beanToSet) throws DAOException
    {
        if(null != bean){
            ${foreignClassManager}.getInstance().save(beanToSet);
            bean.$table.getReferencedVarSetMethod($fkName)(beanToSet);
            if( null == beanToSet){
#set( $notNullColumns = $table.noNullableColumns($fkName))
#if( $notNullColumns.empty )
#foreach ( $fk in $columnsOfFk ) 
                bean.$fk.getSetMethod()(null);
#end 
#else
               // foreign key ( #join($notNullColumns "${e.name}" ',') ) is not nullable , nothing to do
#end
            }else{
#foreach ( $fk in $columnsOfFk ) 
                bean.$fk.getSetMethod()(beanToSet.${fk.getForeignColumn().getGetMethod()}());
#end 
            }
        }
        return beanToSet;
    }
#end
#end

    //////////////////////////////////////
    // SQL 'WHERE' METHOD
    //////////////////////////////////////
    /**
     * Deletes rows from the $tablename table using a 'where' clause.
     * It is up to you to pass the 'WHERE' in your where clauses.
     * <br>Attention, if 'WHERE' is omitted it will delete all records.
     *
     * @param where the sql 'where' clause
     * @return the number of deleted rows
     * @throws DAOException
     */
    //11
    @Override
    public int deleteByWhere(String where) throws DAOException
    {
        if( !this.listenerContainer.isEmpty()){
            final DeleteBeanAction action = new DeleteBeanAction(); 
            this.loadByWhere(where,action);
            return action.getCount();
        }
        Connection c = null;
        PreparedStatement ps = null;

        try
        {
            c = this.getConnection();
            StringBuilder sql = new StringBuilder("DELETE FROM $tablename " + where);
            // System.out.println("deleteByWhere: " + sql);
            ps = c.prepareStatement(sql.toString());
            return ps.executeUpdate();
        }
        catch(SQLException e)
        {
            throw new DataAccessException(e);
        }
        finally
        {
            this.getManager().close(ps);
            this.freeConnection(c);
        }
    }

    //_____________________________________________________________________
    //
    // SAVE
    //_____________________________________________________________________

    //13
    @Override
    public $beanClass insert($beanClass bean) throws DAOException
    {
        // mini checks
        if (null == bean || !bean.isModified()) {
            return bean; // should not we log something ?
        }
        if (!bean.isNew()){
            return this.update(bean);
        }

        Connection c = null;
        PreparedStatement ps = null;
        StringBuilder sql = null;

        try
        {
            c = this.getConnection();
##-------------writePreInsert
#set( $genKeyRetrieve = $codewriter.getProperty("generatedkey.retrieve", "") )
#set ( $hint = $codewriter.getProperty("generatedkey.statement").replaceAll("<TABLE>", $tablename) )
#if ( $table.getAutoincrement() )
#set($pKey = $table.getAutoincrement())
#if ( $genKeyRetrieve == "before" && $pKey.isColumnNumeric() )
            if (!bean.$pKey.getModifiedMethod()())
            {
#set ( $keyFilteredHint = $hint.replaceAll("<KEY>", $pKey.getName()) )
                StringBuilder hint = new StringBuilder("$keyFilteredHint");
                // System.out.println("generatedKey : " + hint);

                ps = c.prepareStatement(hint.toString());
                ResultSet rs = null;
                try
                {
                    rs = ps.executeQuery();
                    if(rs.next()) {
                        bean.$pKey.getSetMethod()($pKey.getResultSetMethodObject("1"));
                    } else {
                        this.getManager().log("ATTENTION: Could not retrieve generated key!");
                    }
                }
                finally
                {
                    this.getManager().close(ps, rs);
                    ps=null;
                }
            }
#end
#end## $table.getAutoincrement()
##------------/writePreInsert
            this.listenerContainer.beforeInsert(bean); // listener callback
            int _dirtyCount = 0;
#if ( $table.hasVersionColumn() )
#set ($lockColumn = $table.getVersionColumn())
        bean.$lockColumn.getSetMethod()(new $lockColumn.getJavaType()(String.valueOf(System.currentTimeMillis())));

#end
            sql = new StringBuilder("INSERT into $tablename (");

#foreach( $column in $columns )
            if (bean.$column.getModifiedMethod()()) {
                if (_dirtyCount>0) {
                    sql.append(",");
                }
                sql.append("$column.getName()");
                _dirtyCount++;
            }

#end
            sql.append(") values (");
            if(_dirtyCount > 0) {
                sql.append("?");
                for(int i = 1; i < _dirtyCount; i++) {
                    sql.append(",?");
                }
            }
            sql.append(")");

#if ( $genKeyRetrieve == "auto" )
#set( $prestArgs = "Statement.RETURN_GENERATED_KEYS" )
#else
#set( $prestArgs = "ResultSet.TYPE_SCROLL_INSENSITIVE, ResultSet.CONCUR_READ_ONLY" )
#end

            // System.out.println("insert : " + sql.toString());

            ps = c.prepareStatement(sql.toString(), $prestArgs);

            this.fillPreparedStatement(ps, bean, SEARCH_EXACT);

            ps.executeUpdate();
##------------------writePostInsert
#if ( $table.getAutoincrement() )
#set($pKey = $table.getAutoincrement())
#set ( $hint = $codewriter.getProperty("generatedkey.statement").replaceAll("<TABLE>", $tablename) )
#if ( $genKeyRetrieve == "after" )

            if (!bean.$pKey.getModifiedMethod()())
            {
                PreparedStatement ps2 = null;
                ResultSet rs = null;
                try {
#set ( $keyFilteredHint = $hint.replaceAll("<KEY>", $pKey.getName()) )
                    ps2 = c.prepareStatement("$keyFilteredHint");
                    rs = ps2.executeQuery();
                    if(rs.next()) {
                        bean.$pKey.getSetMethod()($pKey.getResultSetMethodObject("1"));
                    } else {
                        this.getManager().log("ATTENTION: Could not retrieve generated key!");
                    }
                } finally {
                    this.getManager().close(ps2, rs);
                }
            }
#elseif ( $genKeyRetrieve == "auto" )
            if (!bean.$pKey.getModifiedMethod()())
            {
                ResultSet rs = ps.getGeneratedKeys();
                try {
                    if(rs.next()) {
                        bean.$pKey.getSetMethod()($pKey.getResultSetMethodObject("1"));
                    } else {
                        this.getManager().log("ATTENTION: Could not retrieve auto generated key!");
                    }
                } finally {
                    this.getManager().close(rs);
                }
            }
#end
#end## $table.getAutoincrement()
##-------------------/writePostInsert

            bean.isNew(false);
            bean.resetIsModified();
            this.listenerContainer.afterInsert(bean); // listener callback
            return bean;
        }
        catch(SQLException e)
        {
            throw new DataAccessException(e);
        }
        finally
        {
            sql = null;
            this.getManager().close(ps);
            this.freeConnection(c);
        }
    }

    //14
    @Override
    public $beanClass update($beanClass bean) throws DAOException
    {
        // mini checks
        if (null == bean || !bean.isModified()) {
            return bean; // should not we log something ?
        }
        if (bean.isNew()){
            return this.insert(bean);
        }

        Connection c = null;
        PreparedStatement ps = null;
        StringBuilder sql = null;

        try
        {
            c = this.getConnection();

#if ( $table.countPrimaryKeys() == 0 )
$codewriter.log("    WARN : $tablename does not have any primary key...")
#end
            this.listenerContainer.beforeUpdate(bean); // listener callback
#if ( $table.hasVersionColumn )
#set ($lockColumn = $table.getVersionColumn() )
            $lockColumn.getJavaType() oldLockValue = bean.$lockColumn.getGetMethod()();
            bean.$lockColumn.getSetMethod())(new $lockColumn.getJavaType()(String.valueOf(System.currentTimeMillis())));

#end
            sql = new StringBuilder("UPDATE $tablename SET ");
            boolean useComma=false;
#foreach( $column in $columns )

            if (bean.$column.getModifiedMethod()()) {
                if (useComma) {
                    sql.append(", ");
                } else {
                    useComma=true;
                }
                sql.append("${column.getName()}=?");
            }
#end
#if ( $table.countPrimaryKeys() > 0 )
            sql.append(" WHERE ");
#end
#set ($sql = "" )
#macro ( sqlAppend $somestr )
#set ( $sql = "$!sql$somestr" )
#end
#foreach( $primaryKey in $primaryKeys )
#if ( $velocityCount > 1 )#sqlAppend( " AND " )#end
#sqlAppend( "$primaryKey.getName()=?" )
#end
#if ( $table.hasVersionColumn() )
#set ( $lockColumn = $table.getVersionColumn() )
#if ( $table.countPrimaryKeys() > 0 )#sqlAppend( " AND " )#end
#sqlAppend( "$lockColumn.getName()=?")
#end
            sql.append("$sql");
            // System.out.println("update : " + sql.toString());
            ps = c.prepareStatement(sql.toString(),
                                    ResultSet.TYPE_SCROLL_INSENSITIVE,
                                    ResultSet.CONCUR_READ_ONLY);

            int _dirtyCount = this.fillPreparedStatement(ps, bean, SEARCH_EXACT);

            if (_dirtyCount == 0) {
                // System.out.println("The bean to look is not initialized... do not update.");
                return bean;
            }

#foreach ( $pKey in $primaryKeys )
            $pKey.getPreparedStatementMethod("bean.$pKey.getGetMethod()()", "++_dirtyCount")
#end
#if ( $table.hasVersionColumn() )
#if ( $lockColumn == $table.getVersionColumn() )
            $lockColumn.getPreparedStatementMethod( "oldLockValue", "++_dirtyCount")
            if (ps.executeUpdate()==0) {
                throw new OptimisticLockingException("sql2java.exception.optimisticlock");
            }
#end
#else
            ps.executeUpdate();
#end
            bean.resetIsModified();
            this.listenerContainer.afterUpdate(bean); // listener callback

            return bean;
        }
        catch(SQLException e)
        {
            throw new DataAccessException(e);
        }
        finally
        {
            sql = null;
            this.getManager().close(ps);
            this.freeConnection(c);
        }
    }

    //_____________________________________________________________________
    //
    // USING TEMPLATE
    //_____________________________________________________________________
    //18
    @Override
    public $beanClass loadUniqueUsingTemplate(${beanClass} bean) throws DAOException
    {
         List<${beanClass}> beans = this.loadUsingTemplateAsList(bean);
         switch(beans.size()){
         case 0:
             return null;
         case 1:
             return beans.get(0);
         default:
             throw new ObjectRetrievalException("More than one element !!");
         }
    }
    //18-1
    @Override
    public $beanClass loadUniqueUsingTemplateChecked(${beanClass} bean) throws DAOException
    {
         List<${beanClass}> beans = this.loadUsingTemplateAsList(bean);
         switch(beans.size()){
         case 0:
             throw new ObjectRetrievalException("Not found element !!");
         case 1:
             return beans.get(0);
         default:
             throw new ObjectRetrievalException("More than one element !!");
         }
    }
    //20-5
    @Override
    public int loadUsingTemplate(${beanClass} bean, int[] fieldList, int startRow, int numRows,int searchType, Action<$beanClass> action) throws DAOException
    {
        // System.out.println("loadUsingTemplate startRow:" + startRow + ", numRows:" + numRows + ", searchType:" + searchType);
        StringBuilder sqlWhere = new StringBuilder("");
        String sql=createSelectSql(fieldList,this.fillWhere(sqlWhere, bean, searchType) > 0?" WHERE "+sqlWhere.toString():null);
        PreparedStatement ps = null;
        Connection connection = null;
        // logger.debug("sql string:\n" + sql + "\n");
        try {
            connection = this.getConnection();
            ps = connection.prepareStatement(sql,
                    ResultSet.TYPE_FORWARD_ONLY,
                    ResultSet.CONCUR_READ_ONLY);
            this.fillPreparedStatement(ps, bean, searchType);
            return this.loadByPreparedStatement(ps, fieldList, startRow, numRows, action);
        } catch (DAOException e) {
            throw e;
        }catch (SQLException e) {
            throw new DataAccessException(e);
        } finally {
            this.getManager().close(ps);
            this.freeConnection(connection);
        }
    }

    //21
    @Override
    public int deleteUsingTemplate(${beanClass} bean) throws DAOException
    {
#if ( $table.countPrimaryKeys() > 0)
        if(#join($primaryKeys "bean.$e.getInitializedMethod()() && null != bean.$e.getGetMethod()()" ' && ' )){
            return this.deleteByPrimaryKey(#join($primaryKeys "bean.$e.getGetMethod()()" ', '));
        }
#end
        if( !this.listenerContainer.isEmpty()){
            final DeleteBeanAction action=new DeleteBeanAction(); 
            this.loadUsingTemplate(bean,action);
            return action.getCount();
        }
        Connection c = null;
        PreparedStatement ps = null;
        StringBuilder sql = new StringBuilder("DELETE FROM $tablename ");
        StringBuilder sqlWhere = new StringBuilder("");

        try
        {
            if (this.fillWhere(sqlWhere, bean, SEARCH_EXACT) > 0)
            {
                sql.append(" WHERE ").append(sqlWhere);
            }
            else
            {
                // System.out.println("The bean to look is not initialized... deleting all");
            }
            // System.out.println("deleteUsingTemplate: " + sql.toString());

            c = this.getConnection();
            ps = c.prepareStatement(sql.toString(),
                                    ResultSet.TYPE_SCROLL_INSENSITIVE,
                                    ResultSet.CONCUR_READ_ONLY);
            this.fillPreparedStatement(ps, bean, SEARCH_EXACT);

            int _rows = ps.executeUpdate();
            return _rows;
        }
        catch(SQLException e)
        {
            throw new DataAccessException(e);
        }
        finally
        {
            this.getManager().close(ps);
            this.freeConnection(c);
            sql = null;
            sqlWhere = null;
        }
    }

#if ($table.countIndices() > 0)

    //_____________________________________________________________________
    //
    // USING INDICES
    //_____________________________________________________________________

#foreach ( $index in $table.getIndices() )
#set( $indexColumns = $index.getIndexColumnsList())

#if($index.isUnique())
    /**
     * Retrieves an unique $beanClass using the ${index.getName()} index.
     * #join($indexColumns "
     * @param ${e.getVarName()} the ${e.getName()} column's value filter" '')

     * @return an $beanClass,otherwise null if not found or exists null in input arguments
     * @throws DAOException
     */
    public $beanClass loadBy${index.asCamelCaseName()}(#join($indexColumns "$e.getJavaType() ${e.getVarName()}" ',')) throws DAOException
    {
        if(#join($indexColumns 'null == ${e.getVarName()}' ' || '))
            return null;
        try{
            return loadBy${index.asCamelCaseName()}Checked(#join( $indexColumns "${e.getVarName()}" ','));
        }catch(ObjectRetrievalException e){
            return null;
        }
    }
    /**
     * Retrieves an unique $beanClass using the ${index.getName()} index.
     * #join($indexColumns "
     * @param ${e.getVarName()} the ${e.getName()} column's value filter. must not be null" '')

     * @return an $beanClass
     * @throws NullPointerException exists null in input arguments
     * @throws ObjectRetrievalException if not found
     * @throws DAOException
     */
    public $beanClass loadBy${index.asCamelCaseName()}Checked(#join($indexColumns "$e.getJavaType() ${e.getVarName()}" ',')) throws DAOException
    {
        ${beanClass} bean = new ${beanClass}();
        if(#join($indexColumns 'null == ${e.getVarName()}' ' || '))
            throw new NullPointerException();
        #join($indexColumns '
        bean.${e.getSetMethod()}(${e.getVarName()});
        ' '')

        return loadUniqueUsingTemplateChecked(bean);
    }
#if( 1 == $indexColumns.size())
#set ($indexColumn = $indexColumns.get(0))
#if ( $indexColumn.hasPrimaryType() )
#set ($columnType = $indexColumn.getJavaPrimaryType())
#else
#set ($columnType = $indexColumn.getJavaType())
#end
    /**
     * Retrieves an unique $beanClass for each ${index.getName()} index.
     *
     * @param indexs index array
     * @return an list of $beanClass
     * @throws DAOException
     */
    public java.util.List<$beanClass> loadBy${index.asCamelCaseName()}($columnType... indexs)throws DAOException
    {
        if(null == indexs)return new java.util.ArrayList<$beanClass>();
        java.util.ArrayList<$beanClass> list = new java.util.ArrayList<$beanClass>(indexs.length);
        for(int i = 0 ;i< indexs.length;++i){
            list.add(loadBy${index.asCamelCaseName()}(indexs[i]));
        }
        return list;
    }
    /**
     * Retrieves an unique $beanClass for each ${index.getName()} index.
     *
     * @param indexs index array
     * @return an list of $beanClass
     * @throws DAOException
     */
    public java.util.List<$beanClass> loadBy${index.asCamelCaseName()}(java.util.Collection<$indexColumn.getJavaType()> indexs)throws DAOException
    {
        if(null == indexs )return new java.util.ArrayList<$beanClass>();
        java.util.ArrayList<$beanClass> list = new java.util.ArrayList<$beanClass>(indexs.size());
        if(indexs instanceof java.util.List){
            for($indexColumn.getJavaType() key: indexs){
                list.add(loadBy${index.asCamelCaseName()}(key));
            }
        }else{
            $beanClass bean;
            for($indexColumn.getJavaType() key: indexs){
                if(null != (bean = loadBy${index.asCamelCaseName()}(key)))
                    list.add(bean);
            }
        }
        return list;
    }
    /**
     * Deletes rows for each ${index.getName()} index.
     *
     * @param indexs index array
     * @return the number of deleted rows
     * @throws DAOException
     */
    public int deleteBy${index.asCamelCaseName()}($columnType... indexs)throws DAOException
    {
        if(null == indexs)return 0;
        int count = 0;
        for($columnType index : indexs){
            count += deleteBy${index.asCamelCaseName()}(index);
        }
        return count;
    }
    /**
     * Deletes rows for each ${index.getName()} index.
     *
     * @param indexs index collection
     * @return the number of deleted rows
     * @throws DAOException
     */
    public int deleteBy${index.asCamelCaseName()}(java.util.Collection<$indexColumn.getJavaType()> indexs)throws DAOException
    {
        if(null == indexs)return 0;
        int count = 0;
        for($columnType index : indexs){
            count += deleteBy${index.asCamelCaseName()}(index);
        }
        return count;
    }
#end##1 == $indexColumns.size()
#else## $index.isUnique()
    /**
     * Retrieves an array of $beanClass using the ${index.getName()} index.
     *
#foreach ( $column in $indexColumns )
     * @param ${column.getVarName()} the ${column.getName()} column's value filter.
#end
     * @return an array of $beanClass
     * @throws DAOException
     */
    public ${beanClass}[] loadBy${index.asCamelCaseName()}(#join($indexColumns "$e.getJavaType() ${e.getVarName()}" ',')) throws DAOException
    {
        return (${beanClass}[])this.loadBy${index.asCamelCaseName()}AsList(#join($indexColumns "${e.getVarName()}" ',')).toArray(new ${beanClass}[0]);
    }
    
    /**
     * Retrieves a list of $beanClass using the ${index.getName()} index.
     *
#foreach ( $column in $indexColumns )
     * @param ${column.getVarName()} the ${column.getName()} column's value filter.
#end
     * @return a list of $beanClass
     * @throws DAOException
     */
    public List<$beanClass> loadBy${index.asCamelCaseName()}AsList(#join($indexColumns "$e.getJavaType() ${e.getVarName()}" ',')) throws DAOException
    {
        ${beanClass} bean = this.createBean();
#foreach ( $column in $indexColumns )
        bean.${column.getSetMethod()}(${column.getVarName()});
#end
        return loadUsingTemplateAsList(bean);
    }
#end## $index.isUnique()    
    /**
     * Deletes rows using the ${index.getName()} index.
     *
#foreach ( $column in $indexColumns )
     * @param ${column.getVarName()} the ${column.getName()} column's value filter.
#end
     * @return the number of deleted objects
     * @throws DAOException
     */
    public int deleteBy${index.asCamelCaseName()}(#join($indexColumns "$e.getJavaType() ${e.getVarName()}" ',')) throws DAOException
    {
        ${beanClass} bean = this.createBean();
#foreach ( $column in $indexColumns )
        bean.${column.getSetMethod()}(${column.getVarName()});
#end
        return deleteUsingTemplate(bean);
    }
    
#end
    
    /**
     * Retrieves a list of $beanClass using the index specified by keyIndex.
     * @param keyIndex valid values: <br>
     *        #join($table.getIndices() "{@link Constant#${e.asConstName()}}" ',')

     * @param keys key values of index
     * @return a list of $beanClass
     * @throws DAOException
     */
    public List<$beanClass> loadByIndexAsList(int keyIndex,Object ...keys)throws DAOException
    {
        if(null == keys)
            throw new NullPointerException();
        switch(keyIndex){
#foreach($index in $table.getIndices())
#set( $indexColumns = $index.getIndexColumnsList())
#set ( $idxIndex = $velocityCount - 1 )
        case ${index.asConstName()}:{
            if(keys.length != $indexColumns.size())
                throw new IllegalArgumentException("argument number mismatch with index '${index.name}' column number");
            #join($indexColumns '
            if(null != keys[$m_0count] && !(keys[$m_0count] instanceof $e.getJavaType()))
                throw new IllegalArgumentException("invalid type for the No.$velocityCount argument,expected type:$e.getJavaType()");
' '')

#if($index.isUnique())
            $beanClass bean= this.loadBy${index.asCamelCaseName()}(#join($indexColumns "($e.getJavaType())keys[$m_0count]" ','));
            return null == bean ? new java.util.ArrayList<$beanClass>() : java.util.Arrays.asList(bean);
#else
            return this.loadBy${index.asCamelCaseName()}AsList(#join($indexColumns "($e.getJavaType())keys[$m_0count]" ','));        
#end
        }
#end
        default:
            throw new IllegalArgumentException(String.format("invalid keyIndex %d", keyIndex));
        }
    }
    
    /**
     * Deletes rows using key.
     * @param keyIndex valid values: <br>
     *        #join($table.getIndices() "{@link Constant#${e.asConstName()}}" ',')

     * @param keys key values of index
     * @return the number of deleted objects
     * @throws DAOException
     */
    public int deleteByIndex(int keyIndex,Object ...keys)throws DAOException
    {
        if(null == keys)
            throw new NullPointerException();
        switch(keyIndex){
#foreach($index in $table.getIndices())
#set( $indexColumns = $index.getIndexColumnsList())
#set ( $idxIndex = $velocityCount - 1 )
        case ${index.asConstName()}:{
            if(keys.length != $indexColumns.size())
                throw new IllegalArgumentException("argument number mismatch with index '${index.name}' column number");
            #join($indexColumns '
            if(null != keys[$m_0count] && !(keys[$m_0count] instanceof $e.getJavaType()))
                throw new IllegalArgumentException("invalid type for the No.$velocityCount argument,expected type:$e.getJavaType()");' '')

            return this.deleteBy${index.asCamelCaseName()}(#join($indexColumns "($e.getJavaType())keys[$m_0count]" ','));
        }
#end
        default:
            throw new IllegalArgumentException(String.format("invalid keyIndex %d", keyIndex));
        }        
    }
#end##($table.countIndices() > 0)

## Many to Many needs to be templatized.
#set ( $rTables = $codewriter.getRelationTables() )
#foreach ( $rTable in $rTables )
#### if there is a foreign key present in that relation table
#* *##if (! ("$!rTable.getForeignKeyFor( $table )" == "") )
#* *##set ( $oVelocityCount = $velocityCount )
#* *##set ( $lTables = $rTable.linkedTables($db, $codewriter.getTable() ) )
#* *##set ( $rName = $rTable.getName() )
#* *##foreach ( $lTable in $lTables )
#*      *##set ( $lName = $lTable.getName() )
#*      *##if ( $velocityCount == 1 && $oVelocityCount == 1 )
    
    //_____________________________________________________________________
    //
    // MANY TO MANY: LOAD OTHER BEAN VIA JUNCTION TABLE
    //_____________________________________________________________________
#*      *##end
#set ( $strLinkedCore = "$!{codewriter.getClassPrefix()}$lTable.asCoreClass()" )
#set ( $strLinkedBean = "${lTable.asBeanClass()}" )
#set ( $strLinkedManager = "${lTable.asManagerClass()}" )
#set ( $strRelationCore = "${rTable.asCoreClass()}" )
#set ( $strRelationBean = "${rTable.asBeanClass()}" )
#set ( $localKey = $rTable.getForeignKeyFor( $table ) )
#set ( $externalKey = $rTable.getForeignKeyFor( $lTable ) )
    /**
     * Retrieves an array of $strLinkedBean using the relation table $strRelationCore given a $beanClass object.
     *
     * @param bean the $beanClass bean to be used
     * @return an array of $strLinkedBean
     * @throws DAOException
     */
    //22 MANY TO MANY
    public ${strLinkedBean}[] load${strLinkedCore}Via$strRelationCore($beanClass bean) throws DAOException
    {
         return this.load${strLinkedCore}Via$strRelationCore(bean, 1, -1);
    }

    /**
     * Retrieves an array of $strLinkedBean using the relation table $strRelationCore given a $beanClass object, specifying the start row and the number of rows.
     *
     * @param bean the $beanClass bean to be used
     * @param startRow the start row to be used (first row = 1, last row = -1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @return an array of $strLinkedBean
     * @throws DAOException
     */
    //23 MANY TO MANY
    public ${strLinkedBean}[] load${strLinkedCore}Via$strRelationCore($beanClass bean, int startRow, int numRows) throws DAOException
    {
         Connection c = null;
         PreparedStatement ps = null;
         String sql = " SELECT " + ${lTable.name.toUpperCase()}_ALL_FIELDS
                         + " FROM $lName ${lName}L, $rName ${rName}R"
                         + " WHERE "
                         + "     ${rName}R.$localKey.getForeignColumn().getName() = ?"
                         + " AND ${rName}R.$externalKey.getForeignColumn().getName() = ${lName}L.$externalKey.getName()";
         try
         {
             c = this.getConnection();
             ps = c.prepareStatement(sql,
                                     ResultSet.TYPE_SCROLL_INSENSITIVE,
                                     ResultSet.CONCUR_READ_ONLY);
             $localKey.getPreparedStatementMethod("bean.$localKey.getGetMethod()()", 1)
             return ${strLinkedManager}.getInstance().loadByPreparedStatement(ps, null, startRow, numRows);
         }
         catch (SQLException e)
         {
             throw new DAOException(e.getMessage(), e);
         }
         finally
         {
            this.getManager().close(ps);
            this.freeConnection(c);
            sql = null;
         }
    }
#* *##end
#* *##end
#end

    //_____________________________________________________________________
    //
    // COUNT
    //_____________________________________________________________________

    //25
    @Override
    public int countWhere(String where) throws DAOException
    {
        String sql = "SELECT COUNT(*) AS MCOUNT FROM $tablename " + where;
        // System.out.println("countWhere: " + sql);
        Connection c = null;
        Statement st = null;
        ResultSet rs =  null;
        try
        {
            int iReturn = -1;
            c = this.getConnection();
            st = c.createStatement();
            rs =  st.executeQuery(sql);
            if (rs.next())
            {
                iReturn = rs.getInt("MCOUNT");
            }
            if (iReturn != -1) {
                return iReturn;
            }
        }
        catch(SQLException e)
        {
            throw new DataAccessException(e);
        }
        finally
        {
            this.getManager().close(st, rs);
            this.freeConnection(c);
            sql = null;
        }
        throw new DataAccessException("Error in countWhere where=[" + where + "]");
    }

    /**
     * Retrieves the number of rows of the table $tablename with a prepared statement.
     *
     * @param ps the PreparedStatement to be used
     * @return the number of rows returned
     * @throws DAOException
     */
    //26
    private int countByPreparedStatement(PreparedStatement ps) throws DAOException
    {
        ResultSet rs =  null;
        try
        {
            int iReturn = -1;
            rs = ps.executeQuery();
            if (rs.next()) {
                iReturn = rs.getInt("MCOUNT");
            }
            if (iReturn != -1) {
                return iReturn;
            }
        }
        catch(SQLException e)
        {
            throw new DataAccessException(e);
        }
        finally
        {
            this.getManager().close(rs);
        }
       throw new DataAccessException("Error in countByPreparedStatement");
    }

    /**
     * count the number of elements of a specific $beanClass bean given the search type
     *
     * @param bean the $beanClass template to look for
     * @param searchType exact ?  like ? starting like ?
     * @return the number of rows returned
     * @throws DAOException
     */
    //20
    public int countUsingTemplate(${beanClass} bean, int searchType) throws DAOException
    {
        Connection c = null;
        PreparedStatement ps = null;
        StringBuilder sql = new StringBuilder("SELECT COUNT(*) AS MCOUNT FROM $tablename");
        StringBuilder sqlWhere = new StringBuilder("");

        try
        {
            if (this.fillWhere(sqlWhere, bean, SEARCH_EXACT) > 0)
            {
                sql.append(" WHERE ").append(sqlWhere);
            }
            else
            {
                // System.out.println("The bean to look is not initialized... counting all...");
            }
            // System.out.println("countUsingTemplate: " + sql.toString());

            c = this.getConnection();
            ps = c.prepareStatement(sql.toString(),
                                    ResultSet.TYPE_SCROLL_INSENSITIVE,
                                    ResultSet.CONCUR_READ_ONLY);
            this.fillPreparedStatement(ps, bean, searchType);

            return this.countByPreparedStatement(ps);
        }
        catch(SQLException e)
        {
            throw new DataAccessException(e);
        }
        finally
        {
            this.getManager().close(ps);
            this.freeConnection(c);
            sql = null;
            sqlWhere = null;
        }
    }

    //


    /**
     * fills the given StringBuilder with the sql where clauses constructed using the bean and the search type
     * @param sqlWhere the StringBuilder that will be filled
     * @param bean the bean to use for creating the where clauses
     * @param searchType exact ?  like ? starting like ?
     * @return the number of clauses returned
     */
    protected int fillWhere(StringBuilder sqlWhere, $beanClass bean, int searchType)
    {
        if (bean == null) {
            return 0;
        }
        int _dirtyCount = 0;
        String sqlEqualsOperation = "=";
        if (searchType != SEARCH_EXACT) {
            sqlEqualsOperation = " like ";
        }
        try
        {
#foreach( $column in $columns )
            if (bean.$column.getModifiedMethod()()) {
                _dirtyCount ++;
                if (bean.$column.getGetMethod()() == null) {
                    sqlWhere.append((sqlWhere.length() == 0) ? " " : " AND ").append("$column.getName() IS NULL");
                } else {
#if ($column.isString())
                    sqlWhere.append((sqlWhere.length() == 0) ? " " : " AND ").append("$column.getName() ").append(sqlEqualsOperation).append("?");
#else
                    sqlWhere.append((sqlWhere.length() == 0) ? " " : " AND ").append("$column.getName() = ?");
#end
                }
            }
#end
        }
        finally
        {
            sqlEqualsOperation = null;
        }
        return _dirtyCount;
    }

    /**
     * fill the given prepared statement with the bean values and a search type
     * @param ps the PreparedStatement that will be filled
     * @param bean the bean to use for creating the where clauses
     * @param searchType exact ?  like ? starting like ?
     * @return the number of clauses returned
     * @throws DAOException
     */
    protected int fillPreparedStatement(PreparedStatement ps, $beanClass bean, int searchType) throws DAOException
    {
        if (bean == null) {
            return 0;
        }
        int _dirtyCount = 0;
        try
        {
#foreach ( $column in $columns )
            if (bean.$column.getModifiedMethod()()) {
#if ($column.isString())
                switch (searchType) {
                    case SEARCH_EXACT:
                        // System.out.println("Setting for " + _dirtyCount + " [" + bean.$column.getGetMethod()() + "]");
                        $column.getPreparedStatementMethod("bean.$column.getGetMethod()()", "++_dirtyCount")
                        break;
                    case SEARCH_LIKE:
                        // System.out.println("Setting for " + _dirtyCount + " [%" + bean.$column.getGetMethod()() + "%]");
                        $column.getPreparedStatementMethod("${Q}%${Q} + bean.$column.getGetMethod()() + ${Q}%${Q}", "++_dirtyCount")
                        break;
                    case SEARCH_STARTING_LIKE:
                        // System.out.println("Setting for " + _dirtyCount + " [%" + bean.$column.getGetMethod()() + "]");
                        $column.getPreparedStatementMethod("${Q}%${Q} + bean.$column.getGetMethod()()", "++_dirtyCount")
                        break;
                    case SEARCH_ENDING_LIKE:
                        // System.out.println("Setting for " + _dirtyCount + " [" + bean.$column.getGetMethod()() + "%]");
                        $column.getPreparedStatementMethod("bean.$column.getGetMethod()() + ${Q}%${Q}", "++_dirtyCount")
                        break;
                    default:
                        throw new DAOException("Unknown search type " + searchType);
                }
#else
                // System.out.println("Setting for " + _dirtyCount + " [" + bean.$column.getGetMethod()() + "]");
                $column.getPreparedStatementMethod("bean.$column.getGetMethod()()", "++_dirtyCount")
#end
            }
#end
        }
        catch(SQLException e)
        {
            throw new DataAccessException(e);
        }
        return _dirtyCount;
    }


    //_____________________________________________________________________
    //
    // DECODE RESULT SET
    //_____________________________________________________________________

    /**
     * decode a resultset in an array of $beanClass objects
     *
     * @param rs the resultset to decode
     * @param fieldList table of the field's associated constants
     * @param startRow the start row to be used (first row = 1, last row = -1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @return the resulting $beanClass table
     * @throws DAOException
     */
    //28
    public ${beanClass}[] decodeResultSet(ResultSet rs, int[] fieldList, int startRow, int numRows) throws DAOException
    {
        return this.decodeResultSetAsList(rs, fieldList, startRow, numRows).toArray(new ${beanClass}[0]);
    }

    /**
     * decode a resultset in a list of $beanClass objects
     *
     * @param rs the resultset to decode
     * @param fieldList table of the field's associated constants
     * @param startRow the start row to be used (first row = 1, last row = -1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @return the resulting $beanClass table
     * @throws DAOException
     */
    //28-1
    public List<$beanClass> decodeResultSetAsList(ResultSet rs, int[] fieldList, int startRow, int numRows) throws DAOException
    {
        ListAction action = new ListAction();
        actionOnResultSet(rs, fieldList, numRows, numRows, action);
        return action.getList();
    }
    /** decode a resultset and call action
     * @param rs the resultset to decode
     * @param fieldList table of the field's associated constants
     * @param startRow the start row to be used (first row = 1, last row = -1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @param action interface obj for do something
     * @return the count dealt by action  
     * @throws DAOException
     * @throws IllegalArgumentException
     */
    //28-2
    public int actionOnResultSet(ResultSet rs, int[] fieldList, int startRow, int numRows, Action<$beanClass> action) throws DAOException{
        try{
            int count = 0;
            if(0!=numRows){
                if( startRow<1 )
                    throw new IllegalArgumentException("invalid argument:startRow (must >=1)");
                if( null==action || null==rs )
                    throw new IllegalArgumentException("invalid argument:action OR rs (must not be null)");                    
                for(;startRow>1&&rs.next();--startRow);//skip to last of startRow
                if (fieldList == null) {
                    if(numRows<0)
                        for(;rs.next();++count)
                            action.call(decodeRow(rs, action.getBean()));
                    else
                        for(;rs.next() && count<numRows;++count)
                            action.call(decodeRow(rs, action.getBean()));
                }else {
                    if(numRows<0)
                        for(;rs.next();++count)
                            action.call(decodeRow(rs, fieldList,action.getBean()));
                    else
                        for(;rs.next() && count<numRows;++count)
                            action.call(decodeRow(rs, fieldList,action.getBean()));
                }
            }
            return count;
        }catch(DAOException e){
            throw e;
        }catch(SQLException e){
            throw new DataAccessException(e);
        }
    }

    /**
     * Transforms a ResultSet iterating on the $tablename on a $beanClass bean.
     *
     * @param rs the ResultSet to be transformed
     * @return bean resulting $beanClass bean
     * @throws DAOException
     */
    //29
    public $beanClass decodeRow(ResultSet rs,$beanClass bean) throws DAOException
    {
        if(null==bean)
            bean = this.createBean();
        try
        {
## the set statement casts $velocityCount to a string
#foreach ( $column in $columns )
#set ($vCount = "$velocityCount" )
            bean.$column.getSetMethod()($column.getResultSetMethodObject($vCount));
#end
        }
        catch(SQLException e)
        {
            throw new DataAccessException(e);
        }
        bean.isNew(false);
        bean.resetIsModified();

        return bean;
    }

    /**
     * Transforms a ResultSet iterating on the $tablename table on a $beanClass bean according to a list of fields.
     *
     * @param rs the ResultSet to be transformed
     * @param fieldList table of the field's associated constants
     * @return bean resulting $beanClass bean
     * @throws DAOException
     */
    //30
    public $beanClass decodeRow(ResultSet rs, int[] fieldList,$beanClass bean) throws DAOException
    {
        if(null==bean)
            bean = this.createBean();
        int pos = 0;
        try
        {
            for(int i = 0; i < fieldList.length; i++)
            {
                switch(fieldList[i])
                {
#foreach( $column in $columns )
                    case $column.getIDConstName():
                        ++pos;
                        bean.$column.getSetMethod()($column.getResultSetMethodObject("pos"));
                        break;
#end
                    default:
                        throw new DAOException("Unknown field id " + fieldList[i]);
                }
            }
        }
        catch(SQLException e)
        {
            throw new DataAccessException(e);
        }
        bean.isNew(false);
        bean.resetIsModified();

        return bean;
    }

    /**
     * Transforms a ResultSet iterating on the $tablename on a $beanClass bean using the names of the columns
     *
     * @param rs the ResultSet to be transformed
     * @return bean resulting $beanClass bean
     * @throws DAOException
     */
    //31
    public $beanClass metaDataDecodeRow(ResultSet rs) throws DAOException
    {
        $beanClass bean = this.createBean();
        try
        {
#foreach ( $column in $columns )
            bean.$column.getSetMethod()($column.getResultSetMethodObject("${Q}$column.getName()${Q}"));
#end
        }
        catch(SQLException e)
        {
            throw new DataAccessException(e);
        }

        bean.isNew(false);
        bean.resetIsModified();

        return bean;
    }

    //////////////////////////////////////
    // PREPARED STATEMENT LOADER
    //////////////////////////////////////

    /**
     * Loads all the elements using a prepared statement.
     *
     * @param ps the PreparedStatement to be used
     * @return an array of $beanClass
     * @throws DAOException
     */
    //32
    public ${beanClass}[] loadByPreparedStatement(PreparedStatement ps) throws DAOException
    {
        return this.loadByPreparedStatement(ps, null);
    }

    /**
     * Loads all the elements using a prepared statement.
     *
     * @param ps the PreparedStatement to be used
     * @return an array of $beanClass
     * @throws DAOException
     */
    //32
    public List<$beanClass> loadByPreparedStatementAsList(PreparedStatement ps) throws DAOException
    {
        return this.loadByPreparedStatementAsList(ps, null);
    }

    /**
     * Loads all the elements using a prepared statement specifying a list of fields to be retrieved.
     *
     * @param ps the PreparedStatement to be used
     * @param fieldList table of the field's associated constants
     * @return an array of $beanClass
     * @throws DAOException
     */
    //33
    public ${beanClass}[] loadByPreparedStatement(PreparedStatement ps, int[] fieldList) throws DAOException
    {
        return this.loadByPreparedStatementAsList(ps, fieldList).toArray(new ${beanClass}[0]);
    }

    /**
     * Loads all the elements using a prepared statement specifying a list of fields to be retrieved.
     *
     * @param ps the PreparedStatement to be used
     * @param fieldList table of the field's associated constants
     * @return an array of $beanClass
     * @throws DAOException
     */
    //33
    public List<$beanClass> loadByPreparedStatementAsList(PreparedStatement ps, int[] fieldList) throws DAOException
    { 
        return loadByPreparedStatementAsList(ps,fieldList,1,-1);
    }

    /**
     * Loads all the elements using a prepared statement specifying a list of fields to be retrieved,
     * and specifying the start row and the number of rows.
     *
     * @param ps the PreparedStatement to be used
     * @param startRow the start row to be used (first row = 1, last row = -1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @param fieldList table of the field's associated constants
     * @return an array of $beanClass
     * @throws DAOException
     */
    //34
    public ${beanClass}[] loadByPreparedStatement(PreparedStatement ps, int[] fieldList, int startRow, int numRows) throws DAOException
    {
        return loadByPreparedStatementAsList(ps,fieldList,startRow,numRows).toArray(new ${beanClass}[0]);
    }

    /**
     * Loads all the elements using a prepared statement specifying a list of fields to be retrieved,
     * and specifying the start row and the number of rows.
     *
     * @param ps the PreparedStatement to be used
     * @param startRow the start row to be used (first row = 1, last row = -1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @param fieldList table of the field's associated constants
     * @return an array of $beanClass
     * @throws DAOException
     */
    //34-1
    public List<$beanClass> loadByPreparedStatementAsList(PreparedStatement ps, int[] fieldList, int startRow, int numRows) throws DAOException
    {
        ListAction action = new ListAction();
        loadByPreparedStatement(ps,fieldList,startRow,numRows,action);
        return action.getList();
    }
    /**
     * Loads each element using a prepared statement specifying a list of fields to be retrieved,
     * and specifying the start row and the number of rows 
     * and dealt by action.
     *
     * @param ps the PreparedStatement to be used
     * @param startRow the start row to be used (first row = 1, last row = -1)
     * @param numRows the number of rows to be retrieved (all rows = a negative number)
     * @param fieldList table of the field's associated constants
     * @param action Action object for do something(not null)
     * @return the count dealt by action
     * @throws DAOException
     */     
    //34-2
    public int loadByPreparedStatement(PreparedStatement ps, int[] fieldList, int startRow, int numRows,Action<$beanClass> action) throws DAOException
    {
        ResultSet rs =  null;
        try {
            ps.setFetchSize(100);
            rs = ps.executeQuery();
            return this.actionOnResultSet(rs, fieldList, startRow, numRows, action);
        } catch (DAOException e) {
            throw e;
        } catch (SQLException e) {
            throw new DataAccessException(e);
        } finally {
            this.getManager().close(rs);
        }
    }
    //_____________________________________________________________________
    //
    // LISTENER
    //_____________________________________________________________________

    private final TableListener.ListenerContainer<$beanClass> listenerContainer = new TableListener.ListenerContainer<$beanClass>();
    //35
    @Override
    public TableListener<$beanClass> registerListener(TableListener<$beanClass> listener)
    {
        this.listenerContainer.add(listener);
        return listener;
    }

    /**
     * remove listener.
     */
    //36
    @Override
    public void unregisterListener(TableListener<$beanClass> listener)
    {
        this.listenerContainer.remove(listener);
    }

    //37
    @Override
    public void fire(TableListener.Event event, $beanClass bean) throws DAOException{
        if(null == event)
            throw new NullPointerException();
        event.fire(listenerContainer, bean);
    }
    
    //37-1
    @Override
    public void fire(int event, $beanClass bean) throws DAOException{
        try{
            fire(TableListener.Event.values()[event],bean);
        }catch(ArrayIndexOutOfBoundsException e){
            throw new IllegalArgumentException("invalid event id " + event);
        }
    }

#set($fkObjs =  $table.getForeignKeysForListener())
#foreach($fkObj in $fkObjs)
#set ($fkName = $fkObj.fkName)
#set ($foreignTable = $fkObj.foreignTable)
#set ($foreignClass = $foreignTable.asBeanClass())
    /** foreign key listener for DEELTE RULE : $fkObj.deleteRule */
    private final ${pkg}.ForeignKeyListener<$foreignClass,$beanClass> $table.getForeignKeyListenerVar($fkName) = 
            new ${pkg}.ForeignKeyListener<$foreignClass,$beanClass>(){
                @SuppressWarnings("unchecked")
                @Override
                protected List<$beanClass> getImportedBeans($foreignClass bean) throws DAOException {
                    return listenerContainer.isEmpty() 
                            ? java.util.Collections.EMPTY_LIST
                            : ${foreignTable.asManagerClass()}.getInstance().${table.getImportedBeansGetMethod($fkName)}AsList(bean);
                }
                @Override
                protected void onRemove(List<$beanClass> effectBeans) throws DAOException {
                    for($beanClass bean:effectBeans){
#if($fkObj.deleteRule.equals("SET_NULL"))
                        #join($fkObj.columns 'bean.${e.getSetMethod()}(null);' '
                        ')

#elseif($fkObj.deleteRule.equals("SET_DEFAULT"))
                        #join($fkObj.columns 'bean.${e.getSetMethod()}(#if($e.defaultValue)$e.defaultValue#{else}null#end
                        );' '
                        ')

#end
                        Event.${fkObj.deleteRule.eventOfDeleteRule}.fire(listenerContainer, bean);
                    }
                }};

#end###foreach($fkObj in $fkObjs)
    /**
     * bind foreign key listener to foreign table: <br>
#foreach($fkObj in $fkObjs)
     * DELETE RULE : $fkObj.deleteRule {@code ${table.name}(#join($fkObj.columns '$e.name' ','))-> ${fkObj.foreignTable.name}(#join($fkObj.foreignTable.primaryKeys '$e.name' ','))} <br>
#end
     */
    //37-2
    public void bindForeignKeyListenerForDeleteRule(){
        #join($fkObjs '${e.foreignTable.asManagerClass()}.getInstance().registerListener($table.getForeignKeyListenerVar($e.fkName));
        ' '')

    }
    //_____________________________________________________________________
    //
    // UTILS
    //_____________________________________________________________________

    /**
     * Retrieves the manager object used to get connections.
     *
     * @return the manager used
     */
    //40
    private Manager getManager()
    {
        return Manager.getInstance();
    }

    /**
     * Frees the connection.
     *
     * @param c the connection to release
     */
    //41
    private void freeConnection(Connection c)
    {
        this.getManager().releaseConnection(c); // back to pool
    }

    /**
     * Gets the connection.
     */
    //42
    private Connection getConnection() throws DAOException
    {
        try
        {
            return this.getManager().getConnection();
        }
        catch(SQLException e)
        {
            throw new DataAccessException(e);
        }
    }

    //43
    @Override
    public boolean isPrimaryKey(String column){
        for(String c:PRIMARYKEY_NAMES)if(c.equalsIgnoreCase(column))return true;
        return false;
    }
    
    /**
     * Fill the given prepared statement with the values in argList
     * @param ps the PreparedStatement that will be filled
     * @param argList the arguments to use fill given prepared statement
     * @throws DAOException
     */
    private void fillPrepareStatement(PreparedStatement ps, Object[] argList) throws DAOException{
        try {
            if (!(argList == null || ps == null)) {
                for (int i = 0; i < argList.length; i++) {
                    if (argList[i].getClass().equals(byte[].class)) {
                        ps.setBytes(i + 1, (byte[]) argList[i]);
                    } else
                        ps.setObject(i + 1, argList[i]);
                }
            }
        } catch (SQLException e) {
            throw new DAOException(e);
        }
    }
    
    @Override    
    public int loadBySqlForAction(String sql, Object[] argList, int[] fieldList,int startRow, int numRows,Action<$beanClass> action) throws DAOException{
        PreparedStatement ps = null;
        Connection connection = null;
        // logger.debug("sql string:\n" + sql + "\n");
        try {
            connection = this.getConnection();
            ps = connection.prepareStatement(sql,
                    ResultSet.TYPE_FORWARD_ONLY,
                    ResultSet.CONCUR_READ_ONLY);
            fillPrepareStatement(ps, argList);
            return this.loadByPreparedStatement(ps, fieldList, startRow, numRows, action);
        } catch (DAOException e) {
            throw e;
        }catch (SQLException e) {
            throw new DataAccessException(e);
        } finally {
            this.getManager().close(ps);
            this.freeConnection(connection);
        }
    }
   
    @Override
    public <T>T runAsTransaction(Callable<T> fun) throws DAOException{
        return Manager.getInstance().runAsTransaction(fun);
    }
    
    class DeleteBeanAction extends Action.Adapter<$beanClass>{
        private final AtomicInteger count=new AtomicInteger(0);
        @Override
        public void call($beanClass bean) throws DAOException {
                ${managerClass}.this.delete(bean);
                count.incrementAndGet();
        }
        int getCount(){
            return count.get();
        }
    }
#if ( 1 == $table.countPrimaryKeys() )
#set ($pk = $table.getPrimaryKey())
#if ( $pk.hasPrimaryType() )
#set ($pkType = $pk.getJavaPrimaryType())
#else
#set ($pkType = $pk.getJavaType())
#end
    /**
     * return a primary key list from {@link $beanClass} array
     * @param array
     */
    //45
    public List<$pk.getJavaType()> toPrimaryKeyList($beanClass... array){        
        if(null == array)return new java.util.ArrayList<$pk.getJavaType()>();
        java.util.ArrayList<$pk.getJavaType()> list = new java.util.ArrayList<$pk.getJavaType()>(array.length);
        for($beanClass bean:array){
            list.add(null == bean ? null : bean.$pk.getGetMethod()());
        }
        return list;
    }
    /**
     * return a primary key list from {@link $beanClass} collection
     * @param array
     */
    //46
    public List<$pk.getJavaType()> toPrimaryKeyList(java.util.Collection<$beanClass> collection){        
        if(null == collection)return new java.util.ArrayList<$pk.getJavaType()>();
        java.util.ArrayList<$pk.getJavaType()> list = new java.util.ArrayList<$pk.getJavaType()>(collection.size());
        for($beanClass bean:collection){
            list.add(null == bean ? null : bean.$pk.getGetMethod()());
        }
        return list;
    }
#end##1 == $table.countPrimaryKeys()   
}
