##$Id: widget.interface.java.vm,v 1.1 2007/06/22 07:29:09 kameleono Exp $
#parse( "schema.include.vm" )
#parse( "header.include.vm" )
$codewriter.setCurrentJavaFilename($widgetPkg, "Widget.java")
package $widgetPkg;

import java.util.Map;
import java.util.ResourceBundle;

import ${pkg}.GeneratedBean;

public interface Widget
{
    public String input();
    public String input(Map params);
    public String searchInput();
    public String searchInput(Map params);
    public String extendedSearchInput();
    public String extendedSearchInput(Map params);
    public String display();
    public String display(Map params);

    public void setTable(String table);
    public String getTable();

    public void setColumn(String column);
    public String getColumn();

    public void setBean(GeneratedBean bean);
    public GeneratedBean getBean();

    public void setMap(Map map);
    public Map getMap();

    public void setResourceBundle(ResourceBundle bundle);
    public ResourceBundle getResourceBundle();

    public String getProperty(String key);
}
